<script lang="ts" setup>
import { nextTick, onMounted, ref } from 'vue'
import type { VForm } from 'vuetify/components'
import type { Material } from '@/types/Material'
import { useMaterialStore } from '@/stores/material'
const search = ref<string>('')
const headers = [
  {
    title: 'Material Id',
    key: 'materialId',
    value: 'materialId'
  },
  {
    title: 'Name',
    key: 'name',
    value: 'name'
  },
  {
    title: 'Price',
    key: 'price',
    value: 'price'
  },
  {
    title: 'Min',
    key: 'minimum',
    value: 'minimum'
  },
  {
    title: 'Unit',
    key: 'unit',
    value: 'unit'
  },
  { title: 'Actions', key: 'actions', sortable: false }
]
const form = ref(false)
const refForm = ref<VForm | null>(null)
const dialog = ref(false)
const dialogDelete = ref(false)
const loading = ref(false)
const materialStore = useMaterialStore()
// const editedMaterial = ref<Material>(JSON.parse(JSON.stringify(initialMaterial)))
//store Material
const Materials = ref(materialStore.getMaterials)
let editedIndex = -1
let lastId = 7
function onSubmit() {}

// function formatID(id: number) {
//     return 'IR' + id.toString().padStart(4, '0');
// }

function closeDelete() {
  dialogDelete.value = false
  nextTick(() => {
    materialStore.clearForm()
  })
}
async function deleteItemConfirm() {
  // Delete item from list
  await materialStore.deleteMaterial()
  closeDelete()
}

async function editItem(item: Material) {
  // editedIndex = Materials.value.indexOf(item)
  if (!item.materialId) return
  await materialStore.getMaterial(item.materialId)
  dialog.value = true
}
async function deleteItem(item: Material) {
  // editedIndex = Materials.value.indexOf(item)
  if (!item.materialId) return
  await materialStore.getMaterial(item.materialId)
  dialogDelete.value = true
}

function closeDialog() {
  dialog.value = false
  nextTick(() => {
    materialStore.clearForm()
  })
}
async function save() {
  const { valid } = await refForm.value!.validate()
  if (!valid) return
  await materialStore.saveMaterial()
  closeDialog()
}

onMounted(() => {
  materialStore.getMaterials()
})
</script>
<template>
  <div>
    <v-data-table :headers="headers" :items="materialStore.Materials" 
    :search="search">
      <template v-slot:top>
        <v-toolbar flat>
          <v-toolbar-title>Material</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-spacer></v-spacer>

          <!-- Search bar  -->
          <v-text-field
            style="background-color: #ffffff; max-width: 300px; margin: 10px"
            v-model="search"
            label="Search"
            prepend-inner-icon="mdi-magnify"
            single-line
            variant="outlined"
            hide-details
          >
          </v-text-field>

          <!-- Put Edited Dialog -->
          <v-dialog v-model="dialog" persistent width="1024">
            <template v-slot:activator="{ props }">
              <v-btn color="white" style="background-color: rgb(255, 182, 55)" v-bind="props">
                <v-icon left>mdi mdi-plus-box-multiple</v-icon> Add Material
              </v-btn>
            </template>
            <v-card>
              <v-card-title style="background-color: rgb(255, 188, 63)">
                <span class="text-h5"> Material </span>
              </v-card-title>
              <v-card-text>
                <v-form ref="refForm" v-model="form" @submit.prevent="onSubmit">
                  <v-container>
                    <v-row>
                      <v-col cols="12" sm="12" md="4">
                        <v-text-field
                          v-model="materialStore.editedMaterial.name"
                          :readonly="loading"
                          :rules="[(v: any) => !!v || 'Field is required']"
                          class="mb-2"
                          clearable
                          label="Name"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="12" md="4">
                        <v-text-field
                          v-model="materialStore.editedMaterial.price"
                          :readonly="loading"
                          :rules="[(v: any) => !!v || 'Field is required']"
                          class="mb-2"
                          clearable
                          label="Price"
                          suffix="฿"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="12" md="4">
                        <v-text-field
                          v-model="materialStore.editedMaterial.minimum"
                          :readonly="loading"
                          :rules="[(v: any) => !!v || 'Field is required']"
                          class="mb-2"
                          clearable
                          label="Minimum"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="12" md="4">
                        <v-text-field
                          v-model="materialStore.editedMaterial.unit"
                          :readonly="loading"
                          :rules="[(v: any) => !!v || 'Field is required']"
                          class="mb-2"
                          clearable
                          label="Unit"
                        ></v-text-field>
                      </v-col>
                    </v-row>
                  </v-container>
                </v-form>
                <small>*indicates required field</small>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="orange" variant="text" @click="closeDialog()"> Close </v-btn>
                <v-btn color="orange" variant="text" @click="save()"> Save </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
          <!-- Delete Dialog -->
          <v-dialog v-model="dialogDelete" max-width="500px">
            <v-card>
              <v-card-title class="text-h5"
                >Are you sure you want to delete this item?</v-card-title
              >
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue-darken-1" variant="text" @click="closeDelete">Cancel</v-btn>
                <v-btn color="blue-darken-1" variant="text" @click="deleteItemConfirm">OK</v-btn>
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>

      <template v-slot:[`item.actions`]="{ item }">
        <v-icon size="small" class="me-2" @click="editItem(item)"> mdi-pencil </v-icon>
        <v-icon size="small" @click="deleteItem(item)"> mdi-delete </v-icon>
      </template>

    </v-data-table>
  </div>
</template>
