<script lang="ts" setup>
import { useImportMaterialStore } from '@/stores/importMaterial'
import type { ImportMaterialDetail } from '@/types/ImportMaterialDetail'
import { nextTick, ref } from 'vue'
import type { VForm } from 'vuetify/components'

const importMaterialStore = useImportMaterialStore()
const form = ref(false)
const loading = ref(false)
function onSubmit() {}
const refForm = ref<VForm | null>(null)
let editedIndex = -1

const initilImportDetail: ImportMaterialDetail = {
  importMaterialDetailId: -1,
  importMaterialId: 0,
  materialId: 0,
  qty: 0,
  unitPrice: 0,
  total: 0,
  branchStockId: 0
}

const editedImportDetail = ref<ImportMaterialDetail>(JSON.parse(JSON.stringify(initilImportDetail)))

function closeDialog() {
  importMaterialStore.importMaterialDetailsDialog = false
  nextTick(() => {
    editedImportDetail.value = Object.assign({}, initilImportDetail)
    editedIndex = -1
  })
}
async function save() {
  const { valid } = await refForm.value!.validate()
  if (!valid) return
  if (editedIndex > -1) {
    Object.assign(importMaterialStore.importMaterialDetails[editedIndex], editedImportDetail.value)
  } else {
    editedImportDetail.value.importMaterialDetailId = importMaterialStore.detailID + 1
    editedImportDetail.value.importMaterialId = importMaterialStore.importMaterials.length + 1
    importMaterialStore.editingimportDetails.push(editedImportDetail.value)
    console.log(importMaterialStore.editingimportDetails)
    importMaterialStore.detailID += 1
  }
  closeDialog()
}
</script>
<template>
  <!-- Put Edited Dialog -->
  <v-dialog v-model="importMaterialStore.importMaterialDetailsDialog" persistent width="1024">
    <v-card>
      <v-card-title style="background-color: rgb(255, 188, 63)">
        <span class="text-h5">Material Import</span>
      </v-card-title>
      <v-card-text>
        <v-form ref="refForm" v-model="form" @submit.prevent="onSubmit">
          <v-container>
            <!-- dialog -->
            <v-row>
              <v-col cols="12" sm="12" md="4">
                <v-text-field
                  v-model="editedImportDetail.materialId"
                  :readonly="loading"
                  :rules="[(v: any) => !!v || 'Field is required']"
                  class="mb-2"
                  label="Material ID"
                >
                </v-text-field>
              </v-col>
              <v-col cols="12" sm="12" md="4">
                <v-text-field
                  v-model="editedImportDetail.qty"
                  :readonly="loading"
                  :rules="[(v: any) => !!v || 'Field is required']"
                  class="mb-2"
                  clearable
                  label="Quantity"
                  type="number"
                >
                </v-text-field>
              </v-col>
              <v-col cols="12" sm="12" md="4">
                <v-text-field
                  v-model="editedImportDetail.unitPrice"
                  :readonly="loading"
                  :rules="[(v: any) => !!v || 'Field is required']"
                  class="mb-2"
                  clearable
                  label="Unit Price"
                  type="number"
                >
                </v-text-field>
              </v-col>
              <v-col cols="12" sm="12" md="4">
                <v-text-field
                  v-model="editedImportDetail.total"
                  :readonly="loading"
                  class="mb-2"
                  label="Total(THB)"
                  type="number"
                >
                </v-text-field>
              </v-col>
            </v-row>
          </v-container>
        </v-form>
        <small>*Indicates required field</small>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="orange" variant="text" @click="closeDialog()"> Close </v-btn>
        <v-btn color="orange" variant="text" @click="save()"> Save </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
