<script lang="ts" setup>
import { useImportMaterialStore } from '@/stores/importMaterial'
import type { ImportMaterial } from '@/types/ImportMaterial'
import { nextTick, ref } from 'vue'
import type { VForm } from 'vuetify/components'
import ImportMaterialDetailsDialog from '@/views/ImportMaterial/ImportMaterialDetailsDialog.vue'

const importMaterialStore = useImportMaterialStore()
const form = ref(false)
const loading = ref(false)
function onSubmit() {}
const refForm = ref<VForm | null>(null)
let editedIndex = -1
const detailHeaders = [
  {
    title: 'No.',
    key: 'no',
    value: 'id'
  },
  {
    title: 'Material',
    key: 'material',
    value: 'materialId'
  },

  {
    title: 'Quantity',
    key: 'quantity',
    value: 'qty'
  },
  {
    title: 'Unit Price(THB)',
    key: 'unitPrice',
    value: 'unitPrice'
  },
  {
    title: 'Total Price(THB)',
    key: 'totalPrice',
    value: 'total'
  }
]

const initilImport: ImportMaterial = {
  importMaterialId: -1,
  date: '',
  total: 0,
  totalList: 0,
  employeeId: 0,
  branchId: 0,
  details: [],
  toggleStatus: false
}

const editedImportMaterial = ref<ImportMaterial>(JSON.parse(JSON.stringify(initilImport)))

function closeDialog() {
  importMaterialStore.importMaterialDialog = false
  nextTick(() => {
    editedImportMaterial.value = Object.assign({}, initilImport)
    importMaterialStore.editingimportDetails = []
    editedIndex = -1
    importMaterialStore.detailID = 0
  })
}
async function save() {
  const { valid } = await refForm.value!.validate()
  if (!valid) return
  if (editedIndex > -1) {
    Object.assign(importMaterialStore.importMaterials[editedIndex], editedImportMaterial.value)
  } else {
    editedImportMaterial.value.importMaterialId = importMaterialStore.lastID + 1
    editedImportMaterial.value.totalList = importMaterialStore.editingimportDetails.length
    editedImportMaterial.value.details.push(...importMaterialStore.editingimportDetails)
    importMaterialStore.importMaterials.push(editedImportMaterial.value)
    importMaterialStore.lastID++
  }
  closeDialog()
}

function addDetailsDialog() {
  importMaterialStore.importMaterialDetailsDialog = true
}

function deleteDetail(detail: any) {
  const index = editedImportMaterial.value.details.findIndex((d: any) => d.id === detail.id)
  if (index !== -1) {
    editedImportMaterial.value.details.splice(index, 1)
  }
}
</script>

<template>
  <!-- Put Edited Dialog -->
  <v-dialog v-model="importMaterialStore.importMaterialDialog" persistent width="1024">
    <v-card>
      <v-card-title style="background-color: rgb(255, 188, 63)">
        <span class="text-h5">Material Import</span>
      </v-card-title>
      <v-card-text>
        <v-form ref="refForm" v-model="form" @submit.prevent="onSubmit">
          <v-container>
            <!-- dialog -->
            <v-row>
              <v-col cols="12" sm="12" md="4">
                <v-text-field
                  v-model="editedImportMaterial.employeeId"
                  :readonly="loading"
                  :rules="[(v: any) => !!v || 'Field is required']"
                  class="mb-2"
                  label="Employee ID"
                >
                </v-text-field>
              </v-col>
              <v-col cols="12" sm="12" md="4">
                <v-text-field
                  v-model="editedImportMaterial.branchId"
                  :readonly="loading"
                  :rules="[(v: any) => !!v || 'Field is required']"
                  class="mb-2"
                  clearable
                  label="Branch ID"
                >
                </v-text-field>
              </v-col>
              <v-col cols="12" sm="12" md="4">
                <v-text-field
                  v-model="editedImportMaterial.date"
                  :readonly="loading"
                  :rules="[(v: any) => !!v || 'Field is required']"
                  class="mb-2"
                  clearable
                  label="Receipt Date"
                >
                </v-text-field>
              </v-col>
              <v-col cols="12" sm="12" md="4">
                <v-text-field
                  v-model="importMaterialStore.editingimportDetails.length"
                  :readonly="true"
                  class="mb-2"
                  label="Total list"
                  type="number"
                >
                </v-text-field>
              </v-col>
              <v-col cols="12" sm="12" md="4">
                <v-text-field
                  v-model="editedImportMaterial.total"
                  :readonly="loading"
                  class="mb-2"
                  label="Total"
                  type="number"
                  suffix="฿"
                >
                </v-text-field>
              </v-col>
            </v-row>
            <!-- details table -->
            <v-row>
              <v-data-table-virtual
                :headers="detailHeaders"
                :items="importMaterialStore.editingimportDetails"
              >
                <template v-slot:top>
                  <v-toolbar flat style="background-color: whitesmoke">
                    <v-toolbar-title>Materials</v-toolbar-title>
                    <v-divider class="mx-4" inset vertical></v-divider>
                    <v-spacer></v-spacer>
                    <v-btn
                      color="white"
                      style="background-color: rgb(255, 182, 55)"
                      @click="addDetailsDialog"
                    >
                      <v-icon left>mdi-truck-plus</v-icon>
                      Import Material
                    </v-btn>
                  </v-toolbar>
                </template>

                <template v-slot:[`item.actions`]="{ item }">
                  <!-- <v-icon size="small" class="me-2" @click="editItem(item)">
                            mdi-pencil
                        </v-icon> -->
                  <v-icon size="small" @click="deleteDetail(item)"> mdi-delete </v-icon>
                </template>

                <template v-slot:no-data> No detail available </template>
              </v-data-table-virtual>
            </v-row>
          </v-container>
        </v-form>
        <small>*Indicates required field</small>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="orange" variant="text" @click="closeDialog()"> Close </v-btn>
        <v-btn color="orange" variant="text" @click="save()"> Save </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
  <ImportMaterialDetailsDialog></ImportMaterialDetailsDialog>
</template>
