<script lang="ts" setup>
import type { ImportMaterial } from '@/types/ImportMaterial'
import { useImportMaterialStore } from '@/stores/importMaterial'
import { nextTick, onMounted, ref } from 'vue'
import ImportMaterialDialog from '@/views/ImportMaterial/ImportMaterialDialog.vue'
import { useEmployeeStore } from '@/stores/employee'
import { useBranchStore } from '@/stores/branch'

const headers = [
  {
    title: 'Receipt Id',
    key: 'id',
    value: 'receciptId'
  },
  {
    title: 'Branch',
    key: 'branch',
    value: 'branchId'
  },
  {
    title: 'Employee',
    key: 'employee',
    value: 'employeeId'
  },

  {
    title: 'Receipt Date',
    key: 'date',
    value: 'date'
  },
  {
    title: 'Total List',
    key: 'totalList',
    value: 'totalList'
  },
  {
    title: 'Total(THB)',
    key: 'total',
    value: 'total'
  },
  { title: 'Actions', key: 'actions', sortable: false }
]

const detailHeaders = [
  {
    title: 'No.',
    key: 'no',
    value: 'id'
  },
  {
    title: 'Material',
    key: 'material',
    value: 'materialId'
  },

  {
    title: 'Quantity',
    key: 'quantity',
    value: 'qty'
  },
  {
    title: 'Unit Price(THB)',
    key: 'unitPrice',
    value: 'unitPrice'
  },
  {
    title: 'Total Price(THB)',
    key: 'totalPrice',
    value: 'total'
  }
]

const importMaterialStore = useImportMaterialStore()
const employeeStore = useEmployeeStore()
const branchStore = useBranchStore()
const dialogDelete = ref(false)
const initilImport: ImportMaterial = {
  importMaterialId: -1,
  date: '',
  total: 0,
  totalList: 0,
  employeeId: 0,
  branchId: 0,
  toggleStatus: false,
  details: []
}
const editedImportMaterial = ref<ImportMaterial>(JSON.parse(JSON.stringify(initilImport)))
const ImportMaterials = ref(importMaterialStore.importMaterials)
let editedIndex = -1

function closeDelete() {
  dialogDelete.value = false
  nextTick(() => {
    editedImportMaterial.value = Object.assign({}, initilImport)
  })
}
function deleteItemConfirm() {
  // Delete item from list
  ImportMaterials.value.splice(editedIndex, 1)
  closeDelete()
}

function editItem(item: ImportMaterial) {
  editedIndex = ImportMaterials.value.indexOf(item)
  editedImportMaterial.value = Object.assign({}, item)
  importMaterialStore.importMaterialDialog = true
}
function deleteItem(item: ImportMaterial) {
  editedIndex = ImportMaterials.value.indexOf(item)
  editedImportMaterial.value = Object.assign({}, item)
  importMaterialStore.lastID--
  dialogDelete.value = true
}

function initialize() {
  ImportMaterials.value = importMaterialStore.importMaterials
}

function addDialog() {
  importMaterialStore.importMaterialDialog = true
}

function toggleDetails(item: ImportMaterial) {
  item.toggleStatus = !item.toggleStatus
}

onMounted(() => {
  initialize()
})
</script>

<template>
  <div>
    <v-data-table :headers="headers" :items="ImportMaterials" show-expand>
      <template v-slot:top>
        <v-toolbar flat style="background-color: whitesmoke">
          <v-toolbar-title>Import Materials</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-spacer></v-spacer>
          <v-btn color="white" style="background-color: rgb(255, 182, 55)" @click="addDialog">
            <v-icon left>mdi-truck-plus</v-icon> Import Material
          </v-btn>

          <!-- Delete Dialog -->
          <v-dialog v-model="dialogDelete" max-width="500px">
            <v-card>
              <v-card-title class="text-h5"
                >Are you sure you want to delete this item?</v-card-title
              >
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="orange" variant="text" @click="closeDelete">Cancel</v-btn>
                <v-btn color="orange" variant="text" @click="deleteItemConfirm">OK</v-btn>
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>

      <template v-slot:item="{ item, columns }">
        <tr>
          <td>{{ item.importMaterialId }}</td>
          <td>{{ branchStore.branches.find((branch) => branch.branchId === item.branchId)?.name }}</td>
          <td>
            {{ employeeStore.employees.find((employee) => employee.employeeId === item.employeeId)?.name }}
          </td>
          <td>{{ item.date }}</td>
          <td>{{ item.totalList }}</td>
          <td>{{ item.total }}</td>
          <td><v-icon size="small" @click="deleteItem(item)"> mdi-delete </v-icon></td>
          <td><v-icon size="large" @click="toggleDetails(item)">mdi-menu-down</v-icon></td>
        </tr>
        <template v-if="item.toggleStatus">
          <tr>
            <td :colspan="columns.length">
              <v-data-table-virtual
                :headers="detailHeaders"
                :items="item.details"
                density="compact"
                hide-default-footer
              >
                <template v-slot:no-data> No details available </template>
              </v-data-table-virtual>
            </td>
          </tr>
        </template>
      </template>

      <template v-slot:[`item.actions`]="{ item }">
        <!-- <v-icon size="small" class="me-2" @click="editItem(item)">
                    mdi-pencil
                </v-icon> -->
        <v-icon size="small" @click="deleteItem(item)"> mdi-delete </v-icon>
      </template>

      <template v-slot:no-data>
        <v-btn color="primary" @click="initialize"> Reset </v-btn>
      </template>
    </v-data-table>
  </div>
  <ImportMaterialDialog></ImportMaterialDialog>
</template>
