<script lang="ts" setup>
import { useEmployeeStore } from '@/stores/employee'
import type { Salary } from '@/types/Salary'
import { computed, nextTick, onMounted, ref } from 'vue'
import type { VForm } from 'vuetify/components'
import { useSalaryStore } from '@/stores/salary'

const employeeStore = useEmployeeStore()
const form = ref(false)
const loading = ref(false)

function onSubmit() {}
const refForm = ref<VForm | null>(null)
let editedIndex = -1
let lastId = 7
const initialSalary: Salary = {
  salaryId: -1,
  worktimeId: 1,
  employeeId: 1,
  salaryCreate: '',
  salaryPay: '',
  salaryTotal: 0,
  salaryStatus: 'Not Paid'
}
const editedEmployee = ref<Salary>(JSON.parse(JSON.stringify(initialSalary)))

const employees = ref<Salary[]>([])
const salaryStore = useSalaryStore()

function closeDialog() {
  salaryStore.createSalaryDialog = false
  nextTick(() => {
    editedEmployee.value = Object.assign({}, initialSalary)
    editedIndex = -1
  })
}
async function save() {
  const { valid } = await refForm.value!.validate()
  if (!valid) return
  editedEmployee.value.salaryPay = DateMonthYear.value
  if (editedIndex > -1) {
    Object.assign(employees.value[editedIndex], editedEmployee.value)
  } else {
    editedEmployee.value.employeeId = lastId++
    employees.value.push(editedEmployee.value)
  }

  closeDialog()
}

const DateMonthYear = ref('')
const formData = ref({
  endDate: new Date()
})
const dateMenu = ref(false)
const endDateField = computed(() =>
  formData.value.endDate.toLocaleDateString('en-US', {
    year: 'numeric',
    month: 'short',
    day: 'numeric'
  })
)
const day = ref('')
const month = ref('')
const year = ref('')

const setDate = () => {
  const endDate = formData.value.endDate
  if (endDate instanceof Date) {
    if (endDate.getDate() < 10) {
      day.value = '0' + endDate.getDate().toString()
    } else {
      day.value = endDate.getDate().toString()
    }

    if (endDate.getMonth() + 1 < 10) {
      month.value = '0' + (endDate.getMonth() + 1).toString()
    } else {
      month.value = (endDate.getMonth() + 1).toString()
    }
    year.value = endDate.getFullYear().toString()
    DateMonthYear.value = year.value + '-' + month.value + '-' + day.value
  }
}

function initialize() {
  employees.value = salaryStore.salaries
}
onMounted(() => {
  initialize()
  setDate()
})
</script>
<template>
  <v-dialog v-model="salaryStore.createSalaryDialog" persistent width="1024">
    <v-card>
      <v-card-title style="background-color: rgb(255, 188, 63)">
        <span class="text-h5">Employee</span>
      </v-card-title>
      <v-card-text>
        <v-form ref="refForm" v-model="form" @submit.prevent="onSubmit">
          <v-container>
            <v-row>
              <v-col cols="12" sm="4">
                <v-select
                  v-model="editedEmployee.employeeId"
                  :items="employeeStore.employees"
                  item-text="name"
                  label="Select Employee"
                  :readonly="loading"
                  :rules="[(v) => !!v || 'Field is required']"
                  class="mb-2"
                ></v-select>
              </v-col>
              <v-col cols="12" sm="12" md="4">
                <v-text-field
                  v-model="editedEmployee.salaryCreate"
                  :readonly="loading"
                  :rules="[(v) => !!v || 'Field is required']"
                  class="mb-2"
                  clearable
                  label="Salary Create"
                ></v-text-field>
              </v-col>
              <v-col cols="4"
                ><v-menu v-model="dateMenu" :close-on-content-click="false">
                  <template #activator="{ props }">
                    <v-text-field
                      v-model="endDateField"
                      label="Salary Pay"
                      readonly
                      v-bind="props"
                    ></v-text-field>
                  </template>
                  <v-date-picker
                    v-model="formData.endDate"
                    color="orange"
                    show-adjacent-months
                    @update:model-value="dateMenu = false"
                  ></v-date-picker> </v-menu
              ></v-col>
              <v-col cols="12" sm="12" md="4">
                <v-text-field
                  v-model="editedEmployee.salaryTotal"
                  :readonly="loading"
                  :rules="[(v) => !!v || 'Field is required']"
                  class="mb-2"
                  clearable
                  label="Salary Total"
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="12" md="4">
                <v-text-field
                  v-model="editedEmployee.salaryStatus"
                  :readonly="loading"
                  class="mb-2"
                  clearable
                  label="Salary Status"
                  disabled
                ></v-text-field>
              </v-col>
            </v-row>
          </v-container>
        </v-form>
        <small>*Indicates required field</small>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="orange" variant="text" @click="closeDialog()"> Close </v-btn>
        <v-btn color="orange" variant="text" @click="save()"> Save </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
