<script lang="ts" setup>
import { nextTick, onMounted, ref } from 'vue'
// import type { VForm } from 'vuetify/components'
import type { Salary } from '@/types/Salary'
import { useSalaryStore } from '@/stores/salary'
import { useEmployeeStore } from '@/stores/employee'
import CreateSalaryDialog from './CreateSalaryDialog.vue'
import SlipDialog from './SlipDialog.vue'

const salaryStore = useSalaryStore()
const employeeStore = useEmployeeStore()

const headers = [
  {
    title: 'No'
  },
  {
    title: 'Employee Name'
  },
  {
    title: 'Roles'
  },
  {
    title: 'Salary Type'
  },
  {
    title: 'Salary Create'
  },
  {
    title: 'Salary Pay'
  },
  {
    title: 'Salary Total'
  },
  {
    title: 'Salary Status'
  },
  { title: 'Actions', key: 'actions', sortable: false }
]

const dialog = ref(false)
const dialogDelete = ref(false)

const Salaries = ref(salaryStore.salaries)
let editedIndex = -1

function closeDelete() {
  dialogDelete.value = false
}

function deleteItemConfirm() {
  if (editedIndex > -1) {
    Salaries.value.splice(editedIndex, 1)
    closeDelete()
  }
}

function deleteItem(item: Salary) {
  editedIndex = Salaries.value.indexOf(item)
  salaryStore.deleteSalary(item.salaryId)
  dialogDelete.value = true
}

function createSalary() {
  salaryStore.createSalaryDialog = true
}

function generatePaymentSlip() {
  salaryStore.generatePaymentSlip = true
}

function initialize() {
  Salaries.value = salaryStore.salaries
}

function payAll() {}

onMounted(() => {
  initialize()
})
</script>
<template>
  <v-data-table :headers="headers" :items="salaryStore.salaries" show-expand>
    <template v-slot:top>
      <v-toolbar flat style="background-color: whitesmoke">
        <v-toolbar-title>Payment Salary</v-toolbar-title>
        <v-divider class="mx-4" inset vertical></v-divider>
        <v-spacer></v-spacer>
        <v-btn
          color="white"
          style="background-color: rgb(1, 179, 19)"
          @click="payAll"
          variant="outlined"
        >
          Pay All
        </v-btn>

        <v-btn color="white" style="background-color: rgb(255, 182, 55)" @click="createSalary">
          <v-icon left>mdi-plus-box</v-icon> Create
        </v-btn>

        <v-dialog v-model="dialogDelete" max-width="500px">
          <v-card>
            <v-card-title class="text-h5">Are you sure you want to delete this item?</v-card-title>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="orange" variant="text" @click="closeDelete">Cancel</v-btn>
              <v-btn color="orange" variant="text" @click="deleteItemConfirm">OK</v-btn>
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
    </template>

    <template v-slot:item="{ item }">
      <tr>
        <td>{{ item.salaryId }}</td>
        <!-- <td>{{ item.date }} น.</td> -->
        <!-- <td>
            {{ worktimeStore.worktimes.find((worktime) => worktime_id === item.worktime_id)?.name }}
          </td> -->
        <td>
          {{ employeeStore.employees.find((employee) => employee.employeeId === item.employeeId)?.name }}
        </td>
        <td>
          {{ employeeStore.employees.find((employee) => employee.employeeId === item.employeeId)?.roles }}
        </td>
        <td>
          {{
            employeeStore.employees.find((employee) => employee.employeeId === item.employeeId)?.salaryType
          }}
        </td>
        <td>{{ item.salaryCreate }}</td>
        <td>{{ item.salaryPay }}</td>
        <td>{{ item.salaryTotal }}</td>
        <td>{{ item.salaryStatus }}</td>
        <td>
          <v-icon size="small" class="me-2" @click="watchPaymentSalary(item)">mdi-eye</v-icon>
        </td>
        <td>
          <!-- <v-icon size="small" class="me-2" @click="editItem(item)"> mdi-pencil </v-icon> -->
          <v-icon size="small" @click="deleteItem(item)"> mdi-delete </v-icon>
        </td>
        <td>
          <v-col
            ><v-btn
              @click="generatePaymentSlip"
              size="small"
              color="green"
              :disabled="item.salaryStatus === 'Paid'"
            >
              Payment
            </v-btn></v-col
          >
        </td>
      </tr>
    </template>

    <template v-slot:no-data>
      <v-btn color="primary" @click="initialize"> Reset </v-btn>
    </template>
  </v-data-table>
  <CreateSalaryDialog></CreateSalaryDialog>
  <SlipDialog v-if="salaryStore.generatePaymentSlip"></SlipDialog>
</template>
