<script lang="ts" setup>
import { useEmployeeStore } from '@/stores/employee'
import type { Salary } from '@/types/Salary'
import { ref } from 'vue'

const paymentSlip = ref('')
const dialogPaymentSlip = ref(false)
let selectedEmployee = null
const employeeStore = useEmployeeStore()
const empName = ref('')

function generatePaymentSlip(item: Salary) {
  const employeeStore = useEmployeeStore()
  if (item.salaryStatus === 'Not Paid') {
    selectedEmployee = item
    selectedEmployee.salaryStatus = 'Paid'
    const employeesDetails = [`${{ empName }}`]
    const employeesSalary = [`${selectedEmployee.salaryTotal}`]
    const employeesCreateDate = [`${selectedEmployee.salaryCreate}`]
    const employeesSalaryPay = [`${selectedEmployee.salaryPay}`]

    // Format the payment slip
    paymentSlip.value = `วันที่ชำระ : ${new Date().toLocaleDateString()}                                                 ชำระเสร็จสิ้น     
ข้อมูลการโอนเงิน:
บัญชีธนาคาร: XXX-XXXXX-XXXX
ธนาคาร: ธนาคารไทยพาณิชย์                            
--------------------------------------------------------------------------------
ชื่อ-นามสกุล : ${employeesDetails.join('\n')}  
รอบเดือน : ${employeesCreateDate.join('\n')}
--------------------------------------------------------------------------------
เงินเดือน : ${employeesSalary.join(
      '\n'
    )}                                                           บาท
--------------------------------------------------------------------------------
จำนวนเงินที่ได้รับ ${employeesSalary.join(
      '\n'
    )}                                                       บาท
--------------------------------------------------------------------------------
วันที่สร้าง : ${employeesSalaryPay.join(
      '\n'
    )}                                                        


`

    // Open the payment slip dialog
    dialogPaymentSlip.value = true
  }
}

function closePaymentSlipDialog() {
  // Close the payment slip dialog
  dialogPaymentSlip.value = false
  selectedEmployee = null
}

function savePaymentSlip() {
  // Save the payment slip, you can implement this function
  console.log('Payment slip saved:', paymentSlip.value)
}
</script>
<template>
  <v-dialog v-model="dialogPaymentSlip" max-width="800px">
    <v-card>
      <v-col cols="12" class="d-flex justify-center">
        <v-img src="../../../public/img/logo/logo-black.png" width="150" height="150"> </v-img
      ></v-col>
      <v-card-title class="text-h5 text-center">สลิปเงินเดือน / Pay Slip</v-card-title>
      <v-card-text>
        <pre>{{ paymentSlip }}</pre>
      </v-card-text>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="orange" variant="text" @click="closePaymentSlipDialog"> Close </v-btn>
        <v-btn color="orange" variant="text" @click="savePaymentSlip"> Save </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
