<script lang="ts" setup>
import { useInvoiceStore } from '@/stores/invoice'
import type { Invoice } from '@/types/Invoice'
import { computed, nextTick, onMounted, ref } from 'vue'
import type { VForm } from 'vuetify/components'
import InvoiceDetailsDialog from '@/views/UtilityInvoice/InvoiceDetailsDialog.vue'

const invoiceStore = useInvoiceStore()
const form = ref(false)
const loading = ref(false)
function onSubmit() {}
const refForm = ref<VForm | null>(null)
let editedIndex = -1
const detailHeaders = [
  {
    title: 'No.',
    key: 'no',
    value: 'id'
  },
  {
    title: 'Invoice ID.',
    key: 'invoiceId',
    value: 'invoiceId'
  },
  {
    title: 'Item',
    key: 'item',
    value: 'item'
  },
  {
    title: 'Quantity',
    key: 'qty',
    value: 'qty'
  },
  {
    title: 'Unit Price(THB)',
    key: 'price',
    value: 'price'
  },
  {
    title: 'Total Price(THB)',
    key: 'total',
    value: 'total'
  },
  {
    title: 'Unit',
    key: 'unit',
    value: 'unit'
  },
]

const initialInvoice: Invoice = {
  invoiceId: -1,
  type: 'waterElectric',
  branchId: 0,
  employeeId: 0,
  total: 0,
  paymentState: 'Not Paid',
  datePay: '',
  toggleStatus: false,
  details: []
}

const editedInvoice = ref<Invoice>(JSON.parse(JSON.stringify(initialInvoice)))

function closeDialog() {
  invoiceStore.invoiceDialog = false
  nextTick(() => {
    editedInvoice.value = Object.assign({}, initialInvoice)
    invoiceStore.editinginvoiceDetails = []
    editedIndex = -1
    invoiceStore.detailID = 0
  })
}
async function save() {
  const { valid } = await refForm.value!.validate()
  if (!valid) return
  if (editedIndex > -1) {
    Object.assign(invoiceStore.invoices[editedIndex], editedInvoice.value)
  } else {
    editedInvoice.value.invoiceId = invoiceStore.lastID + 1
    // editedInvoice.value.total_list = invoiceStore.editinginvoiceDetails.length
    editedInvoice.value.details.push(...invoiceStore.editinginvoiceDetails)
    invoiceStore.invoices.push(editedInvoice.value)
    invoiceStore.lastID++
  }
  closeDialog()
}
const DateMonthYear = ref('')
const formData = ref({
  endDate: new Date()
})
const dateMenu = ref(false)
const endDateField = computed(() =>
  formData.value.endDate.toLocaleDateString('en-US', {
    year: 'numeric',
    month: 'short',
    day: 'numeric'
  })
)
const day = ref('')
const month = ref('')
const year = ref('')

const setDate = () => {
  const endDate = formData.value.endDate
  if (endDate instanceof Date) {
    if (endDate.getDate() < 10) {
      day.value = '0' + endDate.getDate().toString()
    } else {
      day.value = endDate.getDate().toString()
    }

    if (endDate.getMonth() + 1 < 10) {
      month.value = '0' + (endDate.getMonth() + 1).toString()
    } else {
      month.value = (endDate.getMonth() + 1).toString()
    }
    year.value = endDate.getFullYear().toString()
    DateMonthYear.value = year.value + '-' + month.value + '-' + day.value
  }
}

function addDetailsDialog() {
  invoiceStore.invoiceDetailsDialog = true
}

function deleteDetail(detail: any) {
  const index = editedInvoice.value.details.findIndex((d: any) => d.id === detail.id)
  if (index !== -1) {
    editedInvoice.value.details.splice(index, 1)
  }
}

onMounted(() => {
//   initialize()
  setDate()
})
</script>

<template>
  <!-- Put Edited Dialog -->
  <v-dialog v-model="invoiceStore.invoiceDialog" persistent width="1024">
    <v-card>
      <v-card-title style="background-color: rgb(255, 188, 63)">
        <span class="text-h5">Utility Invoice</span>
      </v-card-title>
      <v-card-text>
        <v-form ref="refForm" v-model="form" @submit.prevent="onSubmit">
          <v-container>
            <!-- dialog -->
            <v-row>
                <v-col cols="12" sm="12" md="4">
                <v-select
                  v-model="editedInvoice.type"
                  :readonly="loading"
                  :rules="[(v) => !!v || 'Field is required']"
                  :items="['waterElectric', 'material', 'ค่าใช้จ่ายต่างๆ']"
                  label="Type"
                ></v-select>
              </v-col>
              <v-col cols="12" sm="12" md="4">
                <v-text-field
                  v-model="editedInvoice.branchId"
                  :readonly="loading"
                  :rules="[(v: any) => !!v || 'Field is required']"
                  class="mb-2"
                  clearable
                  label="Branch"
                >
                </v-text-field>
              </v-col>
              <v-col cols="12" sm="12" md="4">
                <v-text-field
                  v-model="editedInvoice.employeeId"
                  :readonly="loading"
                  :rules="[(v: any) => !!v || 'Field is required']"
                  class="mb-2"
                  label="Employee"
                >
                </v-text-field>
              </v-col>
              <v-col cols="12" sm="12" md="4">
                <v-text-field
                  v-model="editedInvoice.total"
                  :readonly="loading"
                  class="mb-2"
                  label="Total(THB)"
                  type="number"
                  suffix="฿"
                >
                </v-text-field>
              </v-col>
              <v-col cols="12" sm="12" md="4">
                <v-select
                  v-model="editedInvoice.paymentState"
                  :readonly="loading"
                  :rules="[(v) => !!v || 'Field is required']"
                  :items="['Not Paid', 'Paid']"
                  label="Payment State"
                ></v-select>
              </v-col>
              <v-col cols="4"
                ><v-menu v-model="dateMenu" :close-on-content-click="false">
                  <template #activator="{ props }">
                    <v-text-field
                      v-model="endDateField"
                      label="Date Pay"
                      readonly
                      v-bind="props"
                    ></v-text-field>
                  </template>
                  <v-date-picker
                    v-model="formData.endDate"
                    color="orange"
                    show-adjacent-months
                    @update:model-value="dateMenu = false"
                  ></v-date-picker> </v-menu
              ></v-col>
            </v-row>
            <!-- details table -->
            <v-row>
              <v-data-table-virtual
                :headers="detailHeaders"
                :items="invoiceStore.editinginvoiceDetails"
              >
                <template v-slot:top>
                  <v-toolbar flat style="background-color: whitesmoke">
                    <v-toolbar-title>Invoices</v-toolbar-title>
                    <v-divider class="mx-4" inset vertical></v-divider>
                    <v-spacer></v-spacer>
                    <v-btn
                      color="white"
                      style="background-color: rgb(255, 182, 55)"
                      @click="addDetailsDialog"
                    >
                      <v-icon left>mdi-invoice-check</v-icon>
                      Add Invoice
                    </v-btn>
                  </v-toolbar>
                </template>

                <template v-slot:[`item.actions`]="{ item }">
                  <!-- <v-icon size="small" class="me-2" @click="editItem(item)">
                            mdi-pencil
                        </v-icon> -->
                  <v-icon size="small" @click="deleteDetail(item)"> mdi-delete </v-icon>
                </template>

                <template v-slot:no-data> No detail available </template>
              </v-data-table-virtual>
            </v-row>
          </v-container>
        </v-form>
        <small>*Indicates required field</small>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="orange" variant="text" @click="closeDialog()"> Close </v-btn>
        <v-btn color="orange" variant="text" @click="save()"> Save </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
  <InvoiceDetailsDialog></InvoiceDetailsDialog>
</template>
