<script lang="ts" setup>
import { useInvoiceStore } from '@/stores/invoice'
import type { InvoiceDetail } from '@/types/InvoiceDetail'
import { nextTick, ref } from 'vue'
import type { VForm } from 'vuetify/components'

const invoiceStore = useInvoiceStore()
const form = ref(false)
const loading = ref(false)
function onSubmit() {}
const refForm = ref<VForm | null>(null)
let editedIndex = -1

const initialInvoiceDetail: InvoiceDetail = {
    invoiceDetailId: -1,
    invoiceId: 0,
    item: '',
    qty: 0,
    price: 0,
    total: 0,
    unit: '',
}

const editedImportDetail = ref<InvoiceDetail>(JSON.parse(JSON.stringify(initialInvoiceDetail)))

function closeDialog() {
  invoiceStore.invoiceDetailsDialog = false
  nextTick(() => {
    editedImportDetail.value = Object.assign({}, initialInvoiceDetail)
    editedIndex = -1
  })
}
async function save() {
  const { valid } = await refForm.value!.validate()
  if (!valid) return
  if (editedIndex > -1) {
    Object.assign(invoiceStore.invoiceDetails[editedIndex], editedImportDetail.value)
  } else {
    editedImportDetail.value.invoiceDetailId = invoiceStore.detailID + 1
    editedImportDetail.value.invoiceId = invoiceStore.invoices.length + 1
    invoiceStore.editinginvoiceDetails.push(editedImportDetail.value)
    console.log(invoiceStore.editinginvoiceDetails)
    invoiceStore.detailID += 1
  }
  closeDialog()
}
</script>
<template>
  <!-- Put Edited Dialog -->
  <v-dialog v-model="invoiceStore.invoiceDetailsDialog" persistent width="1024">
    <v-card>
      <v-card-title style="background-color: rgb(255, 188, 63)">
        <span class="text-h5">Invoice</span>
      </v-card-title>
      <v-card-text>
        <v-form ref="refForm" v-model="form" @submit.prevent="onSubmit">
          <v-container>
            <!-- dialog -->
            <v-row>
                <v-col cols="12" sm="12" md="4">
                <v-text-field
                  v-model="editedImportDetail.invoiceId"
                  :readonly="loading"
                  :rules="[(v: any) => !!v || 'Field is required']"
                  class="mb-2"
                  label="Invoice ID"
                >
                </v-text-field>
              </v-col>
              <v-col cols="12" sm="12" md="4">
                <v-text-field
                  v-model="editedImportDetail.item"
                  :readonly="loading"
                  :rules="[(v: any) => !!v || 'Field is required']"
                  class="mb-2"
                  label="Item"
                >
                </v-text-field>
              </v-col>
              <v-col cols="12" sm="12" md="4">
                <v-text-field
                  v-model="editedImportDetail.qty"
                  :readonly="loading"
                  :rules="[(v: any) => !!v || 'Field is required']"
                  class="mb-2"
                  clearable
                  label="Quantity"
                  type="number"
                >
                </v-text-field>
              </v-col>
              <v-col cols="12" sm="12" md="4">
                <v-text-field
                  v-model="editedImportDetail.price"
                  :readonly="loading"
                  :rules="[(v: any) => !!v || 'Field is required']"
                  class="mb-2"
                  clearable
                  label="Unit Price"
                  type="number"
                >
                </v-text-field>
              </v-col>
              <v-col cols="12" sm="12" md="4">
                <v-text-field
                  v-model="editedImportDetail.total"
                  :readonly="loading"
                  class="mb-2"
                  label="Total Price(THB)"
                  type="number"
                >
                </v-text-field>
              </v-col>
              <v-col cols="12" sm="12" md="4">
                <v-text-field
                  v-model="editedImportDetail.unit"
                  :readonly="loading"
                  class="mb-2"
                  label="Unit"
                >
                </v-text-field>
              </v-col>
            </v-row>
          </v-container>
        </v-form>
        <small>*Indicates required field</small>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="orange" variant="text" @click="closeDialog()"> Close </v-btn>
        <v-btn color="orange" variant="text" @click="save()"> Save </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
