<script lang="ts" setup>
import { nextTick, onMounted, provide, ref } from 'vue'
import type { Invoice } from '@/types/Invoice'
import { useInvoiceStore } from '@/stores/invoice'
import { useEmployeeStore } from '@/stores/employee'
import { useBranchStore } from '@/stores/branch'
import InvoiceDialog from './InvoiceDialog.vue'

const headers = [
  {
    title: 'ID',
    key: 'id',
    value: 'id'
  },
  {
    title: 'Type',
    key: 'type',
    value: 'type'
  },
  {
    title: 'Branch',
    key: 'branchId',
    value: 'branchId'
  },
  {
    title: 'Employee',
    key: 'employeeId',
    value: 'employeeId'
  },
  {
    title: 'Total(THB)',
    key: 'total',
    value: 'total'
  },
  {
    title: 'Payment State',
    key: 'paymentState',
    value: 'paymentState'
  },
  {
    title: 'Date Pay',
    key: 'datePay',
    value: 'datePay'
  },

  { title: 'Actions', key: 'actions', sortable: false }
]

const detailHeaders = [
  {
    title: 'No.',
    key: 'no',
    value: 'id'
  },
  {
    title: 'Invoice ID.',
    key: 'invoiceId',
    value: 'invoiceId'
  },
  {
    title: 'Item',
    key: 'item',
    value: 'item'
  },
  {
    title: 'Quantity',
    key: 'qty',
    value: 'qty'
  },
  {
    title: 'Unit Price(THB)',
    key: 'price',
    value: 'price'
  },
  {
    title: 'Total Price(THB)',
    key: 'total',
    value: 'total'
  },
  {
    title: 'Unit',
    key: 'unit',
    value: 'unit'
  }
]

const invoiceStore = useInvoiceStore()
const employeeStore = useEmployeeStore()
const branchStore = useBranchStore()
const dialogDelete = ref(false)
const initilInvoice: Invoice = {
  invoiceId: -1,
  type: 'waterElectric',
  branchId: 0,
  employeeId: 0,
  total: 0,
  paymentState: 'Not Paid',
  datePay: '',
  toggleStatus: false,
  details: []
}
const editedInvoice = ref<Invoice>(JSON.parse(JSON.stringify(initilInvoice)))
const Invoices = ref(invoiceStore.invoices)
let editedIndex = -1

function closeDelete() {
  dialogDelete.value = false
  nextTick(() => {
    editedInvoice.value = Object.assign({}, initilInvoice)
  })
}
function deleteItemConfirm() {
  // Delete item from list
  Invoices.value.splice(editedIndex, 1)
  closeDelete()
}

// function editItem(item: Invoice) {
//   editedIndex = Invoices.value.indexOf(item)
//   editedInvoice.value = Object.assign({}, item)
//   invoiceStore.invoiceDialog = true
// }
function deleteItem(item: Invoice) {
  editedIndex = Invoices.value.indexOf(item)
  editedInvoice.value = Object.assign({}, item)
  invoiceStore.lastID--
  dialogDelete.value = true
}

function initialize() {
  Invoices.value = invoiceStore.invoices
}

function addDialog() {
  invoiceStore.invoiceDialog = true
}

function toggleDetails(item: Invoice) {
  item.toggleStatus = !item.toggleStatus
}

onMounted(() => {
  initialize()
})
</script>

<template>
  <div>
    <v-data-table :headers="headers" :items="Invoices" show-expand>
      <template v-slot:top>
        <v-toolbar flat style="background-color: whitesmoke">
          <v-toolbar-title>Utility Invoice</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-spacer></v-spacer>
          <v-btn color="white" style="background-color: rgb(255, 182, 55)" @click="addDialog">
            <v-icon left>mdi-receipt-text-plus</v-icon> Add Invoice
          </v-btn>

          <!-- Delete Dialog -->
          <v-dialog v-model="dialogDelete" max-width="500px">
            <v-card>
              <v-card-title class="text-h5"
                >Are you sure you want to delete this item?</v-card-title
              >
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="orange" variant="text" @click="closeDelete">Cancel</v-btn>
                <v-btn color="orange" variant="text" @click="deleteItemConfirm">OK</v-btn>
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>

      <template v-slot:item="{ item, columns }">
        <tr>
          <td>{{ item.invoiceId }}</td>
          <td>{{ item.type }}</td>
          <td>
            {{ branchStore.branches.find((branch) => branch.branchId === item.branchId)?.name }}
          </td>
          <td>
            {{
              employeeStore.employees.find((employee) => employee.employeeId === item.employeeId)
                ?.name
            }}
          </td>
          <td>{{ item.total }}</td>
          <td>{{ item.paymentState }}</td>
          <td>{{ item.datePay }}</td>
          <td><v-icon size="small" @click="deleteItem(item)"> mdi-delete </v-icon></td>
          <td><v-icon size="large" @click="toggleDetails(item)">mdi-menu-down</v-icon></td>
        </tr>
        <template v-if="item.toggleStatus">
          <tr>
            <td :colspan="columns.length">
              <v-data-table-virtual
                :headers="detailHeaders"
                :items="item.details"
                density="compact"
                hide-default-footer
              >
                <template v-slot:no-data> No details available </template>
              </v-data-table-virtual>
            </td>
          </tr>
        </template>
      </template>

      <template v-slot:[`item.actions`]="{ item }">
        <v-icon size="small" @click="deleteItem(item)"> mdi-delete </v-icon>
      </template>

      <template v-slot:no-data>
        <v-btn color="primary" @click="initialize"> Reset </v-btn>
      </template>
    </v-data-table>
  </div>
  <InvoiceDialog></InvoiceDialog>
</template>
