<script setup lang="ts">
import { nextTick, onMounted, ref } from 'vue'
import type { VForm } from 'vuetify/components'
import { useProductStore } from '@/stores/product'
import { usePromotionStore } from '@/stores/promotion'
import type { Promotion } from '@/types/Promotion'

const headers = [
  {
    title: 'promotionId',
    key: 'promotionId',
    value: 'promotionId'
  },
  {
    title: 'Name',
    key: 'name',
    value: 'name'
  },
  {
    title: 'StartDate',
    key: 'startDate',
    value: 'startDate'
  },
  {
    title: 'EndDate',
    key: 'endDate',
    value: 'endDate'
  },
  {
    title: 'Status',
    key: 'status',
    value: 'status'
  },
  {
    title: 'DiscountPercentage',
    key: 'discountP',
    value: 'discountP'
  },
  {
    title: 'DiscountBaht',
    key: 'discountB',
    value: 'discountB'
  },
  {
    title: 'UsePoint',
    key: 'usePoint',
    value: 'usePoint'
  },
  {
    title: 'LimitMenu',
    key: 'limitMenu',
    value: 'limitMenu'
  },

  { title: 'Actions', key: 'actions', sortable: false }
]

const form = ref(false)
const refForm = ref<VForm | null>(null)
const dialog = ref(false)
const dialogDelete = ref(false)
const loading = ref(false)

const initilPromotion: Promotion = {
  promotionId: -1,
  name: '',
  startDate: '',
  endDate: '',
  status: 'active',
  discountP: 0,
  discountB: 0,
  usePoint: 0,
  limitMenu: 0
}
const editedPromotion = ref<Promotion>(JSON.parse(JSON.stringify(initilPromotion)))

const promotionStore = usePromotionStore()
const promotion = ref(promotionStore.promotions)
let editedIndex = -1

let lastId = promotionStore.promotions.length + 1
function onSubmit() {}

function closeDelete() {
  dialogDelete.value = false
  nextTick(() => {
    editedPromotion.value = Object.assign({}, initilPromotion)
  })
}
function deleteItemConfirm() {
  // Delete item from list
  promotion.value.splice(editedIndex, 1)
  closeDelete()
}

function editItem(item: Promotion) {
  editedIndex = promotion.value.indexOf(item)
  editedPromotion.value = Object.assign({}, item)
  dialog.value = true
}

function deleteItem(item: Promotion) {
  editedIndex = promotion.value.indexOf(item)
  editedPromotion.value = Object.assign({}, item)
  dialogDelete.value = true
}
function closeDialog() {
  dialog.value = false
  nextTick(() => {
    editedPromotion.value = Object.assign({}, initilPromotion)
    editedIndex = -1
  })
}

async function save() {
  console.log(promotionStore.promotions.length)
  const { valid } = await refForm.value!.validate()
  if (!valid) return
  if (editedIndex > -1) {
    Object.assign(promotion.value[editedIndex], editedPromotion.value)
  } else {
    editedPromotion.value.promotionId = lastId++
    promotion.value.push(editedPromotion.value)
  }
  closeDialog()
}

function initialize() {
  promotion.value = promotionStore.promotions
}

onMounted(() => {
  initialize()
})
</script>
<!-- :rules="[(v: any) => !v || /^\d+$/.test(v) || 'Must be a number']" -->
<template>
  <div>
    <v-data-table :headers="headers" :items="promotion">
      <template v-slot:top>
        <v-toolbar flat style="background-color: whitesmoke">
          <v-toolbar-title>Promotion</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-spacer></v-spacer>
          <!-- Put Edited Dialog -->
          <v-dialog v-model="dialog" persistent width="1024">
            <template v-slot:activator="{ props }">
              <v-btn color="white" style="background-color: rgb(255, 182, 55)" v-bind="props">
                <v-icon left>mdi-sale</v-icon> Add Promotion
              </v-btn>
            </template>
            <v-card>
              <v-card-title>
                <span class="text-h5">Promotion</span>
              </v-card-title>
              <v-card-text>
                <v-form ref="refForm" v-model="form" @submit.prevent="onSubmit">
                  <v-container>
                    <v-row>
                      <v-col cols="12" sm="12" md="4">
                        <v-text-field
                          v-model="editedPromotion.name"
                          :readonly="loading"
                          :rules="[(v: any) => !!v || 'Field is required']"
                          class="mb-2"
                          clearable
                          label="Name"
                        ></v-text-field>
                      </v-col>

                      <v-col cols="12" sm="12" md="6">
                        <v-text-field
                          v-model="editedPromotion.startDate"
                          :readonly="loading"
                          :rules="[(v) => !!v || 'Field is required']"
                          class="mb-2"
                          clearable
                          label="StartDate"
                        ></v-text-field>
                      </v-col>

                      <v-col cols="12" sm="12" md="6">
                        <v-text-field
                          v-model="editedPromotion.endDate"
                          :readonly="loading"
                          :rules="[(v) => !!v || 'Field is required']"
                          class="mb-2"
                          clearable
                          label="EndDate"
                        ></v-text-field>
                      </v-col>

                      <v-col cols="12" sm="12" md="6">
                        <v-text-field
                          v-model="editedPromotion.status"
                          :readonly="loading"
                          :rules="[(v) => !!v || 'Field is required']"
                          :items="['active', 'expired']"
                          label="Status"
                        ></v-text-field>
                      </v-col>

                      <v-col cols="12" sm="12" md="6">
                        <v-text-field
                          v-model="editedPromotion.discountP"
                          :rules="[(v) => !!v || 'Field is required']"
                          class="mb-2"
                          clearable
                          label="Discount Percent"
                        ></v-text-field>
                      </v-col>

                      <v-col cols="12" sm="12" md="6">
                        <v-text-field
                          v-model="editedPromotion.discountB"
                          :rules="[(v) => !!v || 'Field is required']"
                          class="mb-2"
                          clearable
                          label="Discount Branch"
                        ></v-text-field>
                      </v-col>

                      <v-col cols="12" sm="12" md="6">
                        <v-text-field
                          v-model="editedPromotion.usePoint"
                          :rules="[(v) => !!v || 'Field is required']"
                          class="mb-2"
                          clearable
                          label="Use Point"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="6">
                        <v-text-field
                          v-model="editedPromotion.limitMenu"
                          :rules="[(v) => !!v || 'Field is required']"
                          class="mb-2"
                          clearable
                          label="Limit Menu"
                        ></v-text-field>
                      </v-col>
                    </v-row>
                  </v-container>
                </v-form>
                <small>*Indicates required field</small>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="orange" variant="text" @click="closeDialog()"> Close </v-btn>
                <v-btn color="orange" variant="text" @click="save()"> Save </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>

          <!-- Delete Dialog -->
          <v-dialog v-model="dialogDelete" max-width="500px">
            <v-card>
              <v-card-title class="text-h5"
                >Are you sure you want to delete this item?</v-card-title
              >
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="orange" variant="text" @click="closeDelete">Cancel</v-btn>
                <v-btn color="orange" variant="text" @click="deleteItemConfirm">OK</v-btn>
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>
      <template v-slot:[`item.actions`]="{ item }">
        <v-icon size="small" class="me-2" @click="editItem(item)"> mdi-pencil </v-icon>
        <v-icon size="small" @click="deleteItem(item)"> mdi-delete </v-icon>
      </template>
      <template v-slot:no-data>
        <v-btn color="primary" @click="initialize"> Reset </v-btn>
      </template>
    </v-data-table>
  </div>
</template>
