<script lang="ts" setup>
import { useEmployeeStore } from '@/stores/employee'
import { useRoleStore } from '@/stores/role'
import type { Employee } from '@/types/Employee'
import { nextTick, onMounted, ref } from 'vue'
import type { VForm } from 'vuetify/components'
import roleService from '@/services/role'

const employeeStore = useEmployeeStore()
const form = ref(false)
const loading = ref(false)
function onSubmit() {}
const refForm = ref<VForm | null>(null)
let editedIndex = -1
let lastId = 7

function closeDialog() {
  employeeStore.employeeDialog = false
  nextTick(() => {
    employeeStore.clearForm()
  })
}
async function save() {
  const { valid } = await refForm.value!.validate()
  if (!valid) return
  await employeeStore.saveEmployee()
  closeDialog()
}
const roleStore = useRoleStore()

onMounted(() => {
  roleStore.getRoles()
})
</script>
<template>
  <!-- Put Edited Dialog -->
  <v-dialog v-model="employeeStore.employeeDialog" persistent width="1024">
    <v-card>
      <v-card-title style="background-color: rgb(255, 188, 63)">
        <span class="text-h5">Employee Profile</span>
      </v-card-title>
      <v-card-text>
        <v-form ref="refForm" v-model="form" @submit.prevent="onSubmit">
          <v-container>
            <v-row>
              <v-col cols="12" sm="12" md="4">
                <v-text-field
                  v-model="employeeStore.editedEmployee.email"
                  :readonly="loading"
                  :rules="[(v) => !!v || 'Field is required']"
                  class="mb-2"
                  clearable
                  label="Email"
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="12" md="4">
                <v-text-field
                  v-model="employeeStore.editedEmployee.name"
                  :readonly="loading"
                  :rules="[(v) => !!v || 'Field is required']"
                  class="mb-2"
                  clearable
                  label="Name"
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="12" md="4">
                <v-text-field
                  v-model="employeeStore.editedEmployee.password"
                  :readonly="loading"
                  :rules="[(v) => !!v || 'Field is required']"
                  clearable
                  label="Password"
                  placeholder="Enter your password"
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="4">
                <v-select
                  v-model="employeeStore.selectedRoles"
                  :items="roleStore.roles.map((role) => role.name)"
                  label="Select roles"
                  item-value="name"
                  multiple
                  :return-object="false"
                  allow-overflow
                >
                  <option></option>
                </v-select>
              </v-col>
              <v-col cols="12" sm="12" md="4">
                <v-select
                  v-model="employeeStore.editedEmployee.gender"
                  :readonly="loading"
                  :rules="[(v) => !!v || 'Field is required']"
                  :items="['male', 'female']"
                  label="Gender"
                ></v-select>
              </v-col>
              <v-col cols="12" sm="12" md="4">
                <v-select
                  v-model="employeeStore.editedEmployee.salaryType"
                  :readonly="loading"
                  :rules="[(v) => !!v || 'Field is required']"
                  :items="['Full-Time', 'Part-Time']"
                  label="Salary Type"
                ></v-select>
              </v-col>
              <v-col cols="12" sm="12" md="4">
                <v-text-field
                  v-model="employeeStore.editedEmployee.salary"
                  :readonly="loading"
                  :rules="[(v) => !!v || 'Field is required']"
                  class="mb-2"
                  clearable
                  label="Salary"
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="12" md="4">
                <v-text-field
                  v-model="employeeStore.editedEmployee.phone"
                  :readonly="loading"
                  :rules="[(v) => !!v || 'Field is required']"
                  class="mb-2"
                  clearable
                  label="Phone"
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="12" md="4">
                <v-text-field
                  v-model="employeeStore.editedEmployee.wagePerHour"
                  :readonly="loading"
                  :rules="[(v) => !!v || 'Field is required']"
                  class="mb-2"
                  clearable
                  label="WagePerHour"
                ></v-text-field>
              </v-col>
            </v-row>
          </v-container>
        </v-form>
        <small>*Indicates required field</small>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="orange" variant="text" @click="closeDialog()"> Close </v-btn>
        <v-btn color="orange" variant="text" @click="save()"> Save </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
