<script setup lang="ts">

import { useCheckStockStore } from '@/stores/checkStock'
import { onMounted } from 'vue'
import { computed, watch } from 'vue'
import { ref } from 'vue'
import { useMaterialStore } from '@/stores/material'
import type { Material } from '@/types/Material'
// import { useCheckStockDetailStore } from '@/stores/checkStockDetail'


const checkStockStore = useCheckStockStore()
const materialStore = useMaterialStore()
let name: String
// const checkStockDetailStore = useCheckStockDetailStore()

function closeDialog() {
  checkStockStore.checkStockDialog = false
}
async function save() {
  if (
    !updateQtys.value[updateQtys.value.length - 1] ||
    showListItem.value < materialStore.materials.length - 1
  ) {
    alert('กรุณากรอกข้อมูลให้เสร็จสิ้นก่อนกดยืนยัน')
  } else {
    console.log(DateMonthYear.value)

    console.log('สร้าง CheckStock')
    checkStockStore.createCheckStock(
      DateMonthYear.value
    )
    const chkId = checkStockStore.checkStocks[checkStockStore.checkStocks.length - 1].id
    for (const [index, value] of updateQtys.value.entries()) {
      checkStockStore.createCheckStockDetail(index, chkId, value)
    }
    const detailValue = checkStockStore.getDetailData()
    checkStockStore.setDetail(detailValue.value)
    // materialStore.updateQty(updateQtys.value)
    clear()
    closeDialog()
  }
}
const updateQtys = ref<number[]>([])

const DateMonthYear = ref('')
function clear() {
  showedItem.value = []
  updateQtys.value = []
  showListItem.value = 0
}

const formData = ref({
  endDate: new Date()
})
const dateMenu = ref(false)
const endDateField = computed(() =>
  formData.value.endDate.toLocaleDateString('en-US', {
    year: 'numeric',
    month: 'short',
    day: 'numeric'
  })
)

const hours = ref([
  '00',
  '01',
  '02',
  '03',
  '04',
  '05',
  '06',
  '07',
  '08',
  '09',
  '10',
  '11',
  '12',
  '13',
  '14',
  '15',
  '16',
  '17',
  '18',
  '19',
  '20',
  '21',
  '22',
  '23'
])
const minutes = ref([
  '00',
  '01',
  '02',
  '03',
  '04',
  '05',
  '06',
  '07',
  '08',
  '09',
  '10',
  '11',
  '12',
  '13',
  '14',
  '15',
  '16',
  '17',
  '18',
  '19',
  '20',
  '21',
  '22',
  '23',
  '24',
  '25',
  '26',
  '27',
  '28',
  '29',
  '30',
  '31',
  '32',
  '33',
  '34',
  '35',
  '36',
  '37',
  '38',
  '39',
  '40',
  '41',
  '42',
  '43',
  '44',
  '45',
  '46',
  '47',
  '48',
  '49',
  '50',
  '51',
  '52',
  '53',
  '54',
  '55',
  '56',
  '57',
  '58',
  '59'
])
const selectedHour = ref('00')
const selectedMinute = ref('00')

const day = ref('')
const month = ref('')
const year = ref('')

const setDate = () => {
  const endDate = formData.value.endDate

  if (endDate instanceof Date) {
    if (endDate.getDate() < 10) {
      day.value = '0' + endDate.getDate().toString()
    } else {
      day.value = endDate.getDate().toString()
    }

    if (endDate.getMonth() + 1 < 10) {
      month.value = '0' + (endDate.getMonth() + 1).toString()
    } else {
      month.value = (endDate.getMonth() + 1).toString()
    }

    year.value = endDate.getFullYear().toString()

    DateMonthYear.value = year.value + '-' + month.value + '-' + day.value
  }
}

const showListItem = ref(0)
const showedItem = ref<Material[]>([])
const matNext = ref(materialStore.materials[showListItem.value])

const incSLIt = (index: number) => {
  if (
    updateQtys.value[index] !== undefined &&
    showedItem.value.length <= materialStore.materials.length
  ) {
    showListItem.value++
    updateQtys.value.push(updateQtys.value[index - showedItem.value.length])
  }
}

onMounted(() => {
  showedItem.value.push(matNext.value)
  setDate()
})

watch(showListItem, (newValue) => {
  matNext.value = materialStore.materials[newValue]
  showedItem.value.push(matNext.value)
  console.log(showListItem.value)
  console.log(updateQtys.value)
})
</script>

<template>
  <v-dialog v-model="checkStockStore.checkStockDialog" persistent width="1024">
    <v-card>
      <v-card-title style="background-color: rgb(255, 188, 63)">
        <span class="text-h5">CheckStock List</span>
      </v-card-title>
      <v-card-text>
        <v-row>
          <v-col cols="8" class="text-h5"> {{ endDateField }}</v-col>
        </v-row>
      </v-card-text>
      <v-container>
        <v-row>
          <v-col cols="4">
            <v-text-field
              label="User"
              readonly
              v-model="name"
            ></v-text-field>
          </v-col>
          <v-col cols="4"
            ><v-menu v-model="dateMenu" :close-on-content-click="false">
              <template #activator="{ props }">
                <v-text-field
                  v-model="endDateField"
                  label="Date Check"
                  readonly
                  v-bind="props"
                ></v-text-field>
              </template>
              <v-date-picker
                v-model="formData.endDate"
                color="orange"
                show-adjacent-months
                @update:model-value="dateMenu = false"
              ></v-date-picker> </v-menu
          ></v-col>
          <v-col cols="4">
            <v-row no-gutters>
              <!-- <v-col cols="6">
                <v-select :items="hours" label="Hour" v-model="selectedHour"></v-select>
              </v-col>
              <v-col cols="6">
                <v-select :items="minutes" label="Minutes" v-model="selectedMinute"></v-select>
              </v-col> -->
            </v-row>
          </v-col>

          <v-row>
            <v-container>
              <v-table>
                <thead>
                  <tr>
                    <th>No.</th>
                    <th>รายการ</th>
                    <th>จำนวนล่าสุด</th>
                    <th>จำนวนคงเหลือ</th>
                    <th>ดำเนินการ</th>
                    <th>หน่วย</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(item, index) of showedItem" :key="item.id">
                    <td>{{ index + 1 }}</td>
                    <td>{{ item.name }}</td>
                    <!-- จริงๆต้อง show qty -->
                    <td>{{ item.minimum }}</td> 
                    <td>
                      <div>
                        <v-text-field
                          style="margin-right: 0px"
                          v-model="updateQtys[index]"
                          type="number"
                        ></v-text-field>
                      </div>
                    </td>
                    <div style="padding-top: 10px">
                      <td>
                        <v-btn
                          @click="incSLIt(index)"
                          :disabled="showedItem.length === materialStore.materials.length"
                          >Add</v-btn
                        >
                      </td>
                    </div>
                    <td>{{ item.unit }}</td>
                  </tr>
                </tbody>
              </v-table>
            </v-container>
          </v-row>
          <!-- <v-row no-gutters>
                        <v-col cols="12" md="12" v-for="(item, index) in matItem" :key="index">
                            <v-text-field
                                v-model="item.Qty" :label="`ช่อง ${index + 1}`"></v-text-field></v-col>
                    </v-row> -->
        </v-row>
      </v-container>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="orange" variant="text" @click="closeDialog()"> Close </v-btn>
        <v-btn color="orange" variant="text" @click="save()"> Save </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
