src/views/POSold/PromptPayDialog.vue
<script setup lang="ts">
import { computed, ref, watch } from 'vue'

import { useReceiptStore } from '@/stores/receipt'

import { usePromotionStore } from '@/stores/promotion'
import { useCustomerStore } from '@/stores/customer'

// ถ้าแดงไม่ต้องตกใจครับ

// const memberStore = useCustomerStore()
const receiptStore = useReceiptStore()
// function onClick() {
//     memberStore.searchMember(tel.value)
//     receiptStore.useDiscount()
//     // promotionStore.canUsePromotion =true
// }
const customerStore = useCustomerStore()
const searchCustomer = () => {
  customerStore.search(customerStore.telInput)
  receiptStore.tempPoint = customerStore.currentCustomer.point

  const dateNow = new Date()
  const birthDateParts = customerStore.currentCustomer.birthDate.split('-') // แยกวันเกิดออกเป็นส่วน
  const birthDay = parseInt(birthDateParts[0], 10) // วันที่
  const birthMonth = dateNow.getMonth() + 1
  if (birthDay === dateNow.getDate() && birthMonth === dateNow.getMonth() + 1) {
    receiptStore.happybirthday = true
    if (promotionStore.promotions[0].discountP)
      receiptStore.bdPercentage = promotionStore.promotions[0].discountP / 100
  }
}

const happybirthday = computed(() => receiptStore.happybirthday)
// const openDialogRegister = () => {
//   customerStore.newCustomer()
// }

const promotionStore = usePromotionStore()
// const openPromotionDialog = () =>{
//     if(tel.value!==undefined){promotionStore.promotionDialog = true }
//     else {alert('กรุณากรอกเบอร์สมาชิกเพื่อดำเนินการถัดไป')}

// }
</script>
<template>
  <v-container style="background-color: whitesmoke">
    <v-row no-gutters>
      <!-- <v-col cols="6"><v-text-field v-model="tel" density="compact" variant="solo" label="กรอกหมายเลขโทรศัพท์สมาชิก"
                    append-inner-icon="mdi-magnify" single-line hide-details @click:append-inner="onClick"
                    @keyup.enter="onClick"></v-text-field></v-col> -->
      <v-col cols="6"
        ><v-text-field
          v-model="customerStore.telInput"
          density="compact"
          variant="solo"
          label="กรอกหมายเลขโทรศัพท์สมาชิก"
          append-inner-icon="mdi-magnify"
          single-line
          hide-details
          @click:append-inner="searchCustomer()"
          @keyup.enter="searchCustomer"
        ></v-text-field
      ></v-col>
      <v-col cols="1"></v-col>
      <v-col id="callMem" cols="4" class="pa-2 text-left"
        >Member Name :{{
          customerStore.currentCustomer?.name ? customerStore.currentCustomer?.name : 'ไม่พบ'
        }}</v-col
      >
      <v-col cols="1" v-if="happybirthday">HBD <v-icon color="pink">mdi-cake</v-icon></v-col>
    </v-row>
    <v-row no-gutters style="padding-top: 6px">
      <v-col cols="6" density="compact">
        <v-row>
          <v-col cols="6"
            ><v-btn block rounded="l" class="color-btn" size="default">สมัครสมาชิก</v-btn>
          </v-col>
          <!-- <v-col cols="6"><v-btn block rounded="l" class="color-btn" size="default" @click="openPromotionDialog()" :disabled="!promotionStore.canUsePromotion">โปรโมชั่น</v-btn></v-col> -->
          <v-col cols="6"
            ><v-btn
              block
              rounded="l"
              class="color-btn"
              size="default"
              :disabled="!customerStore.takePoint"
              @click="promotionStore.promotionDialog = true"
              >โปรโมชั่น</v-btn
            ></v-col
          >
        </v-row>
      </v-col>
      <v-col cols="1"></v-col>
      <v-col cols="5" class="pa-2 text-left" no-gutters
        >Member Point :
        {{ customerStore.currentCustomer?.point ? customerStore.currentCustomer?.point : 0 }}</v-col
      >
    </v-row>
  </v-container>
  <CustomerDialog></CustomerDialog>
  <PromotionDialog></PromotionDialog>
</template>

<style>
.color-btn {
  background-color: #ffb517;
}
</style>
../Customer/CustomerView.vue../Customer/CustomerView.vue../Customer/CustomerDialog.vue
