<script setup lang="ts">
import { useProductStore } from '@/stores/product'
import type { Product } from '@/types/Product'
import { nextTick, onMounted, ref } from 'vue'
import ProductList from './ProductList.vue'
import ReceiptDetailTable from './ReceiptDetailTable.vue'
import ReceiptCard from './ReceiptCard.vue'
import CustomerCard from './CustomerCard.vue'
import { useReceiptStore } from '@/stores/receipt'
import ReceiptDialog from './ReceiptDialog.vue'
import PromptPayDialog from './PromptPayDialog.vue'
import PromotionDialog from './PromotionDialog.vue'

const productStore = useProductStore()
const products = ref<Product[]>([])
const productsDrink = ref<Product[]>([])
const productsDessert = ref<Product[]>([])
const productsFood = ref<Product[]>([])
onMounted(() => {
  productStore.getProducts()
  products.value = productStore.Products
  productsDrink.value = productStore.productsDrink
  productsDessert.value = productStore.productsDessert
  productsFood.value = productStore.productsFood
})

// productsDrink.value = products.value.filter((product) => product.category.name === 'Drink')
// productsDessert.value = products.value.filter((product) => product.category.name === 'Dessert')
// productsFood.value = products.value.filter((product) => product.category.name === 'Food')

const divReceiptItems = ref<HTMLElement | null>(null)
const selected = (p: Product) => {
  // receiptStore.addReceiptItem(p)
  if (divReceiptItems.value) {
    divReceiptItems.value.scrollTo(0, divReceiptItems.value.scrollHeight)
  }
  nextTick(() => {
    if (divReceiptItems.value) {
      divReceiptItems.value.scrollTo(0, divReceiptItems.value.scrollHeight)
    }
  })
}

const tab = ref(4)
const receiptStore = useReceiptStore()
const showReceipt = () => {
  if (receiptStore.selectedPayment === 'Promptpay') {
    receiptStore.ppDialog = true
  } else {
    if (receiptStore.receiveMoney - receiptStore.initialReceipt.total < 0) {
      alert('กรุณาระบุจำนวนเงินให้ครบถ้วน')
    } else {
      receiptStore.saveReceipt()
      receiptStore.receiptDialog = true
      receiptStore.clearReceipt()
    }
  }
}

// const showReceipt = () => {
//   console.log(products)
//   console.log(productsDrink)
// }
const clearReceipt = () => {
  receiptStore.clearReceipt()
}
</script>

<template>
  <v-container style="max-width: 1500px">
    <v-row style="background-color: papayawhip">
      <v-col cols="12" md="6">
        <v-sheet
          min-width="500"
          max-width="1000"
          height="797"
          elevation="6"
          style="background-color: whitesmoke"
        >
          <v-row no-gutters
            ><v-col cols="7.5" no-gutters>
              <v-row no-gutters>
                <v-col cols="4">
                  <v-tabs v-model="tab" color="brown" align-tabs="center">
                    <v-tab :value="4"><span class="mdi mdi-ballot-outline"></span>All</v-tab>
                  </v-tabs></v-col
                >
                <v-col cols="8"></v-col>
              </v-row>
            </v-col>
            <v-col cols="6" no-gutters>
              <v-tabs v-model="tab" color="brown" align-tabs="center">
                <v-tab :value="1"><span class="mdi mdi-coffee-maker"></span>Drink</v-tab>
                <v-tab :value="2"><span class="mdi mdi-tea"></span>Dessert</v-tab>
                <v-tab :value="3"><span class="mdi mdi-cupcake"></span>Food</v-tab>
              </v-tabs></v-col
            ></v-row
          >
          <v-row no-gutters
            ><v-col cols="12">
              <v-window v-model="tab">
                <v-window-item :value="1">
                  <ProductList :products="productsDrink" @selectedProduct="selected"> </ProductList>
                </v-window-item>
                <v-window-item :value="2">
                  <ProductList :products="productsDessert" @selectedProduct="selected">
                  </ProductList>
                </v-window-item>
                <v-window-item :value="3">
                  <ProductList :products="productsFood" @selectedProduct="selected"> </ProductList>
                </v-window-item>
                <v-window-item :value="4">
                  <ProductList :products="products" @selectedProduct="selected"> </ProductList>
                </v-window-item>
              </v-window> </v-col
          ></v-row>
        </v-sheet>
      </v-col>
      <v-col cols="12" md="6">
        <v-container style="padding: 0%">
          <v-row>
            <v-col cols="12">
              <v-sheet min-width="300" max-width="700" elevation="6" height="300">
                <div
                  ref="divReceiptItems"
                  style="
                    height: 300px;
                    overflow: auto;
                    background: transparent;
                    padding: 0;
                    margin: 0;
                  "
                >
                  <v-sheet tile>
                    <ReceiptDetailTable></ReceiptDetailTable>
                  </v-sheet>
                </div>
              </v-sheet>
            </v-col>
            <v-col cols="12">
              <v-sheet min-width="300" max-width="700" height="230" elevation="6">
                <ReceiptCard></ReceiptCard>
              </v-sheet>
            </v-col>
            <v-col cols="12">
              <v-sheet min-width="300" max-width="700" height="115" elevation="6">
                <CustomerCard></CustomerCard>
              </v-sheet>
            </v-col>
            <v-col>
              <v-sheet
                cols="12"
                min-width="300"
                max-width="700"
                height="80"
                elevation="6"
                style="background-color: papayawhip"
              >
                <v-container no-gutters>
                  <v-row>
                    <v-col cols="12" sm="6">
                      <v-btn
                        block
                        rounded="xl"
                        size="large"
                        @click="clearReceipt()"
                        style="background-color: rgba(255, 85, 24, 0.868); color: white"
                        >Cancel</v-btn
                      > </v-col
                    ><v-col cols="12" sm="6">
                      <v-btn
                        block
                        rounded="xl"
                        color="primary"
                        size="large"
                        :disabled="
                          receiptStore.initialReceipt.total < 0 ||
                          (receiptStore.receiveMoney === 0 &&
                            receiptStore.selectedPayment === 'Cash')
                        "
                        @click="showReceipt()"
                        >Payment</v-btn
                      >
                    </v-col>
                  </v-row>
                </v-container>
              </v-sheet>
            </v-col>
          </v-row>
        </v-container>
      </v-col>
    </v-row>
  </v-container>
  <ReceiptDialog></ReceiptDialog>
  <PromptPayDialog></PromptPayDialog>
  <PromotionDialog></PromotionDialog>
</template>
