<script setup lang="ts">
import { ref } from 'vue'

import { type Product } from '@/types/Product'

import ProductCard from './ProductCard.vue'
import ProductCardOption from './ProductCardOption.vue'
import { useReceiptStore } from '@/stores/receipt'

const props = defineProps<{
  products: Product[]
}>()

const emit = defineEmits<{
  selectedProduct: [Product, number, number, number] //selectedProduct(Product p)
}>()

//key is index unique(PK) of product in products

function selected(
  p: Product,
  selectedSubCategory: number,
  selectedSweet: number,
  priceUpdateSubC: number
) {
  // p.subCategory=selectedSubCategory
  // p.sweetLevel=selectedSweet
  p.price = p.price + priceUpdateSubC
  emit('selectedProduct', p, selectedSubCategory, selectedSweet, priceUpdateSubC)
  p.price = p.price - priceUpdateSubC
}

const receiptStore = useReceiptStore()
</script>

<template>
  <div style="overflow-y: auto; height: 748px">
    <v-container>
      <v-row>
        <v-col cols="12">
          <ProductCardOption></ProductCardOption>
        </v-col>
        <v-col v-for="item of products" :key="item.productId" lg="4" md="6" cols="12">
          <ProductCard :product="item" selected="onProductSelected"></ProductCard>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>
