<script setup lang="ts">
import { usePromotionStore } from '@/stores/promotion'
import { useReceiptStore } from '@/stores/receipt'
import { onMounted } from 'vue'
import { ref } from 'vue'

const promotionStore = usePromotionStore()
const promotionSelect = ref()

// const memberStore = useMemberStore()

const pmtDatas = ref<string[]>([])
const promotionsId = ref<number[]>([])
onMounted(() => {
  for (const item of promotionStore.promotions) {
    pmtDatas.value.push(item.name)
  }
  for (const item of promotionStore.promotions) {
    promotionsId.value.push(item.promotionId)
  }
})

const pmSelected = ref()
const closeDialog = () => {
  promotionStore.promotionDialog = false
}
const receiptStore = useReceiptStore()
const selectPromotion = () => {
  const seletedIndex = pmtDatas.value.findIndex((item) => item === pmSelected.value)
  if (pmSelected.value === promotionStore.promotions[0].name) {
    alert('สุขสันต์วันเกิด ^_^')
  } else {
    const selectedId = promotionsId.value[seletedIndex]
    const usePro = promotionStore.promotions.find((item) => item.promotionId === selectedId)
    receiptStore.promotionNow = usePro
    if (receiptStore.receiptItems && usePro?.limitMenu) {
      const qtyNow = ref(0)
      for (const item of receiptStore.receiptItems) {
        qtyNow.value += item.qty
        if (qtyNow.value > usePro?.limitMenu) {
          alert('โปรโมชั่นนี้ไม่รองรับ')
          receiptStore.clearReceipt()
        }
      }
    }
    if (usePro?.discountB !== undefined) {
      receiptStore.promotionBath = usePro.discountB
    }
    if (usePro?.discountP !== undefined) {
      receiptStore.promotionPercentage = usePro.discountP
    }
  }
  console.log(receiptStore.promotionBath)
  console.log(receiptStore.promotionPercentage)
  promotionStore.promotionDialog = false
}
</script>

<template>
  <v-dialog width="500" v-model="promotionStore.promotionDialog">
    <v-card style="background-color: rgb(255, 197, 90)">
      <v-container></v-container>
      <v-container style="background-color: rgb(255, 255, 255); width: 400px; padding:">
        <v-card-title class="text-h5">Promotion</v-card-title>
        <v-select
          v-model="pmSelected"
          :items="pmtDatas"
          label="Promotion"
          hint="Choose Promotion For Member."
          persistent-hint
        ></v-select>

        <v-row>
          <v-col cols="3"></v-col>
          <v-col cols="3"><v-btn @click="selectPromotion">Select</v-btn></v-col>

          <v-col cols="3"><v-btn @click="closeDialog">Close</v-btn></v-col>
          <v-col cols="3"></v-col>
        </v-row>
      </v-container>
      <v-container></v-container>
    </v-card>
  </v-dialog>
</template>
