<script setup lang="ts">
import { useBranchStore } from '@/stores/branch'
import { useCustomerStore } from '@/stores/customer'
import { useEmployeeStore } from '@/stores/employee'
import { usePromotionStore } from '@/stores/promotion'
import { useReceiptStore } from '@/stores/receipt'
import { onMounted, watch } from 'vue'
import { computed, inject, ref, type Ref } from 'vue'

const receiptStore = useReceiptStore()

const employeeStore = useEmployeeStore()
const customerStore = useCustomerStore()
const promotionStore = usePromotionStore()
const empName = ref('')
const cusName = ref('')
const proName = ref('')

const branchStore = useBranchStore()
const branchName = ref('')

function convertStringToDateTime(dateString: string): Date {
  // แยกวันที่และเวลาออกจากกัน
  const [datePart, timePart] = dateString.split(' ')
  const [day, month, year] = datePart.split('/')
  const [hour, minute, second] = timePart.split(':')

  // สร้างวัตถุ Date จากวันที่และเวลาที่แยกออกมา
  const dateObject = new Date(
    parseInt(year),
    parseInt(month) - 1,
    parseInt(day),
    parseInt(hour),
    parseInt(minute),
    parseInt(second)
  )

  return dateObject
}

function formatTime(date: Date): string {
  const hours = date.getHours().toString().padStart(2, '0')
  const minutes = date.getMinutes().toString().padStart(2, '0')
  const seconds = date.getSeconds().toString().padStart(2, '0')
  return ` ${hours}:${minutes}:${seconds} น.`
}
function formatDate(date: Date): string {
  const day = date.getDate().toString().padStart(2, '0')
  const month = (date.getMonth() + 1).toString().padStart(2, '0')
  const year = date.getFullYear().toString()
  return `${day}/${month}/${year}`
}

const dateObject = ref<Date>()

watch(
  () => receiptStore.receiptDialog, // ใช้ฟังก์ชันเพื่อรับค่า receiptDialog
  (newVal) => {
    if (newVal) {
      if (receiptStore.descriptReceipt) {
        dateObject.value = convertStringToDateTime(receiptStore.descriptReceipt.date)
      }

      const empIndex = employeeStore.employees.findIndex(
        (employee) => employee.employeeId === receiptStore.descriptReceipt.employeeId
      )
      if (empIndex !== -1) {
        empName.value = employeeStore.employees[empIndex].name
      }

      const cusIndex = employeeStore.employees.findIndex(
        (customer) => customer.employeeId === receiptStore.descriptReceipt.customerId
      )
      if (cusIndex !== -1) {
        cusName.value = customerStore.customers[cusIndex].name
      }

      const brIndex = branchStore.branches.findIndex(
        (branch) => branch.branchId === receiptStore.descriptReceipt.branchId
      )
      if (brIndex !== -1) {
        branchName.value = branchStore.branches[brIndex].name
      }

      const proIndex = promotionStore.promotions.findIndex(
        (promotion) => promotion.promotionId === receiptStore.descriptReceipt.promotionId
      )
      if (proIndex !== -1) {
        proName.value = promotionStore.promotions[proIndex].name
      }
    }
  }
)
</script>

<template>
  <v-dialog
    v-model="receiptStore.receiptDialog"
    preceiptStoreersistent
    width="400"
    :persistent="true"
  >
    <v-card>
      <v-card-title class="text-h5"> Receipt </v-card-title>

      <v-card-text>
        <v-row>
          <v-col cols="12" class="d-flex justify-center">
            <v-img src="../../../public/img/logo/logo-no-background.png" width="160" height="160">
            </v-img
          ></v-col>

          <v-col cols="12">
            Receipt ID :
            {{ receiptStore.descriptReceipt ? receiptStore.descriptReceipt.receiptId : '' }}
          </v-col>
          <v-col cols="12">POS ID : 000001</v-col>
          <v-col cols="12">Queue : {{ receiptStore.descriptReceipt.queue }}</v-col>
          <v-col cols="12">Branch : {{ branchName }}</v-col>
          <v-col cols="12">Employee : {{ empName }}</v-col>
          <v-col cols="12">Customer : {{ cusName }}</v-col>
          <v-col cols="12">Promotion : {{ proName }}</v-col>

          <v-col cols="6">Time : {{ dateObject ? formatTime(dateObject) : '' }} </v-col>
          <v-col cols="6">Date : {{ dateObject ? formatDate(dateObject) : '' }}</v-col> </v-row
        ><v-divider></v-divider>
        <v-container>
          <v-table>
            <thead>
              <tr>
                <th>จำนวน</th>
                <th>รายการสินค้า</th>
                <th>ราคา</th>
                <th>ราคารวม</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item of receiptStore.descriptReceiptDetail" :key="item.receiptDetailId">
                <td>{{ item.qty }}</td>
                <td v-if="item.productCategory === 'Drink'">
                  {{ item.productName }}
                  {{
                    item.productSubCategory === 2
                      ? 'ร้อน'
                      : item.productSubCategory === 3
                        ? 'ปั่น'
                        : 'เย็น'
                  }}
                  {{
                    item.productSweetLevel === 1
                      ? 'หวาน 0 %'
                      : item.productSweetLevel === 2
                        ? 'หวาน 25 %'
                        : item.productSweetLevel === 3
                          ? 'หวาน 50 %'
                          : item.productSweetLevel === 4
                            ? 'หวาน 75 %'
                            : 'หวาน 100 %'
                  }}
                </td>
                <td v-else>
                  {{ item.productName }}
                </td>

                <td>{{ item.price }}</td>
                <td>{{ item.price * item.qty }}</td>
              </tr>
            </tbody>
          </v-table>
          <v-divider></v-divider>
          <v-row>
            <v-col cols="6" class="text-h6"> ยอดรวม</v-col
            ><v-col cols="6" style="text-align: right; margin-right: px"
              >{{ receiptStore.descriptReceipt ? receiptStore.descriptReceipt.total : '' }}
            </v-col>
            <v-col cols="6"> ยอดก่อนหัก</v-col
            ><v-col cols="6" style="text-align: right; margin-right: px">
              {{ receiptStore.descriptReceipt ? receiptStore.descriptReceipt.totalBefore : '' }}
            </v-col>
            <v-col cols="6"> ส่วนลดสมาชิก</v-col
            ><v-col cols="6" style="text-align: right; margin-right: px"
              >{{ receiptStore.descriptReceipt ? receiptStore.descriptReceipt.discount : '' }}
            </v-col>
            <v-col cols="6"> แต้มสมาชิก</v-col
            ><v-col cols="6" style="text-align: right; margin-right: px"
              >{{
                receiptStore.descriptReceipt ? receiptStore.descriptReceipt.customerPointBefore : ''
              }}
            </v-col>

            <v-col cols="6">ได้รับแต้ม</v-col
            ><v-col
              v-if="
                receiptStore.descriptReceipt
                  ? receiptStore.descriptReceipt.customerId !== undefined
                  : ''
              "
              cols="6"
              style="text-align: right; margin-right: px"
              >{{
                receiptStore.descriptReceipt ? receiptStore.descriptReceipt.getPoint : ''
              }}</v-col
            >
            <v-col
              cols="6"
              v-if="
                receiptStore.descriptReceipt
                  ? receiptStore.descriptReceipt.customerId === undefined
                  : ''
              "
            ></v-col>
            <v-col cols="6"> จำนวนแต้มคงเหลือ</v-col
            ><v-col cols="6" style="text-align: right; margin-right: px">
              {{
                (receiptStore.descriptReceipt?.customerPointBefore ?? 0) +
                (receiptStore.descriptReceipt?.getPoint ?? 0)
              }}
            </v-col>

            <v-col cols="6">
              ชำระ
              {{ receiptStore.descriptReceipt ? receiptStore.descriptReceipt.payment : '' }}</v-col
            ><v-col cols="6" style="text-align: right; margin-right: px"
              >{{ receiptStore.descriptReceipt ? receiptStore.descriptReceipt.receiveAmount : '' }}
            </v-col>
            <v-col cols="6"> เงินทอน</v-col
            ><v-col cols="6" style="text-align: right; margin-right: px">
              {{
                receiptStore.descriptReceipt?.receiveAmount !== undefined &&
                receiptStore.descriptReceipt?.total !== undefined
                  ? receiptStore.descriptReceipt.receiveAmount - receiptStore.descriptReceipt.total
                  : ''
              }}
            </v-col>
          </v-row>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>

        <v-btn
          color="green-darken-1"
          variant="text"
          @click="
            () => {
              receiptStore.receiptDialog = false
            }
          "
        >
          เสร็จสิ้น
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
