<script lang="ts" setup>
import { useReceiptStore } from '@/stores/receipt'
import type { Receipt } from '@/types/Receipt'
import receiptDialog from './ReceiptDialog.vue'
import { useEmployeeStore } from '@/stores/employee'
import { useCustomerStore } from '@/stores/customer'
import { useBranchStore } from '@/stores/branch'

const receiptStore = useReceiptStore()

const headers = [
  {
    title: 'No.'
  },
  {
    title: 'Created Date'
  },
  { title: 'Branch' },
  {
    title: 'User'
  },
  {
    title: 'Member'
  },

  {
    title: 'Total Before'
  },
  {
    title: 'Discount'
  },
  {
    title: 'Total'
  },
  {
    title: 'Receive Money'
  },
  {
    title: 'Payment Type'
  },

  { title: 'Actions' }
]

const watchReceiptHistory = (receipt: Receipt) => {
  receiptStore.seeReceiptHistory(receipt)
}

const employeeStore = useEmployeeStore()
const customerStore = useCustomerStore()
const branchStore = useBranchStore()
</script>
<template>
  <div>
    <v-data-table :headers="headers" :items="receiptStore.receipts" show-expand>
      <template v-slot:top>
        <v-toolbar flat style="background-color: whitesmoke">
          <v-toolbar-title>Receipt History</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-spacer></v-spacer>
        </v-toolbar>
      </template>

      <template v-slot:item="{ item, index }">
        <tr>
          <td>{{ index + 1 }}</td>

          <td>{{ item.date }} น.</td>
          <td>
            {{ branchStore.branches.find((branch) => branch.branchId === item.branchId)?.name }}
          </td>
          <td>
            {{
              employeeStore.employees.find((employee) => employee.employeeId === item.employeeId)
                ?.name
            }}
          </td>
          <td>
            {{
              customerStore.customers.find((customer) => customer.customerId === item.customerId)
                ?.name
            }}
          </td>
          <td>{{ item.totalBefore }}</td>
          <td>{{ item.discount }}</td>
          <td>{{ item.total }}</td>
          <td>{{ item.receiveAmount }}</td>
          <td>{{ item.payment }}</td>
          <td>
            <v-icon size="small" class="me-2" @click="watchReceiptHistory(item)">mdi-eye</v-icon>
          </td>
        </tr>
      </template>

      <template v-slot:no-data>
        <v-btn color="primary"> Reset </v-btn>
      </template>
    </v-data-table>
  </div>
  <receiptDialog></receiptDialog>
</template>
