<script setup lang="ts">
import { useReceiptStore } from '@/stores/receipt'

const receiptStore = useReceiptStore()
</script>

<template>
  <v-table>
    <thead style="background-color: rgba(255, 174, 23, 0.788)">
      <tr>
        <th>#</th>
        <th>เมนู</th>
        <th>ประเภท</th>
        <th>ระดับความหวาน</th>
        <th>ราคา</th>
        <th>จำนวน</th>
        <th>ยอดรวม</th>
        <th></th>
      </tr>
    </thead>
    <tbody style="background-color: whitesmoke">
      <tr v-for="(item, index) of receiptStore.receiptItems" :key="item.receiptId">
        <td>{{ index + 1 }}</td>
        <td>{{ item.productName }}</td>

        <td>
          {{
            item.productSubCategory === 1
              ? 'เย็น'
              : item.productSubCategory === 2
                ? 'ร้อน'
                : item.productSubCategory === 3
                  ? 'เย็น'
                  : ''
          }}
        </td>
        <td>
          {{
            item.productSweetLevel === 1
              ? '0%'
              : item.productSweetLevel === 2
                ? '25%'
                : item.productSweetLevel === 3
                  ? '50%'
                  : item.productSweetLevel === 4
                    ? '75%'
                    : item.productSweetLevel === 5
                      ? '100%'
                      : ''
          }}
        </td>

        <td>{{ item.price }}</td>
        <td style="font-size: medium; width: 120px">
          <v-btn icon="mdi-minus" density="compact" @click="receiptStore.dec(item)"></v-btn
          >{{ item.qty }}
          <v-btn icon="mdi-plus" density="compact" @click="receiptStore.inc(item)"></v-btn>
        </td>
        <td>{{ item.qty * item.price }}</td>
        <!-- <td><v-btn icon="mdi-delete" density="compact"></v-btn></td> -->
        <td>
          <v-btn
            icon="mdi-delete"
            @click="receiptStore.removeReceiptItem(item)"
            density="compact"
          ></v-btn>
        </td>
      </tr>
    </tbody>
  </v-table>
</template>
