<script lang="ts" setup>
import { computed, nextTick, onMounted, ref } from 'vue'
import type { Product } from '@/types/Product'
import { useProductStore } from '@/stores/product'
// import ProductDialog from '@/views/Product/ProductDialog.vue'
import { useLoadingStore } from '@/stores/loading'
import http from '@/services/http'
import productService from '@/services/product'
import type { VForm } from 'vuetify/components'

const headers = [
  {
    title: 'Product Id',
    key: 'productId',
    value: 'productId'
  },
  {
    title: 'Product Name',
    key: 'name',
    value: 'name'
  },
  {
    title: 'Price',
    key: 'price',
    value: 'price'
  },
  {
    title: 'Category',
    key: 'category',
    value: 'category'
  },
  {
    title: 'Qty',
    key: 'qty',
    value: 'qty'
  },
  { title: 'Actions', key: 'actions', sortable: false }
]

// const loadingStore = useLoadingStore()
// let editedIndex = -1
const productStore = useProductStore()
const dialog = ref(false)
const dialogDelete = ref(false)
const form = ref(false)
const loading = ref(false)
function onSubmit() {}
const refForm = ref<VForm | null>(null)
const Products = ref(productStore.getProducts)

function closeDelete() {
  dialogDelete.value = false
  nextTick(() => {
    productStore.clearForm()
  })
}
async function deleteItemConfirm() {
  // Delete item from list
  await productStore.deleteProduct()
  closeDelete()
}

async function editItem(item: Product) {
  // editedIndex = Products.value.indexOf(item)
  if (!item.productId) return
  await productStore.getProduct(item.productId)
  dialog.value = true
}
async function deleteItem(item: Product) {
  // editedIndex = Products.value.indexOf(item)
  if (!item.productId) return
  await productStore.getProduct(item.productId)
  dialogDelete.value = true
}

function closeDialog() {
  dialog.value = false
  nextTick(() => {
    productStore.clearForm()
  })
}
async function save() {
  const { valid } = await refForm.value!.validate()
  if (!valid) return
  await productStore.saveProduct()
  closeDialog()
}

function addProduct() {
  dialog.value = true
}

// const productDatas = computed(()=>{
// const products = productStore.Products
// return [...products]})

onMounted(() => {
  productStore.getProducts()
})
</script>
<template>
  <div>
    <v-data-table :headers="headers" :items="productStore.Products">
      <template v-slot:top>
        <v-toolbar flat>
          <v-toolbar-title>Products</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-spacer></v-spacer>
          <v-btn color="white" style="background-color: rgb(255, 182, 55)" @click="addProduct">
            <v-icon left>mdi mdi-plus-box-multiple</v-icon> Add Product
          </v-btn>

          <!-- Put Edited Dialog -->
          <v-dialog v-model="dialog" persistent width="1024">
            <v-card>
              <v-card-title style="background-color: rgb(255, 188, 63)">
                <span class="text-h5"> Product </span>
              </v-card-title>
              <v-card-text>
                <v-form ref="refForm" v-model="form" @submit.prevent="onSubmit">
                  <v-container>
                    <v-row>
                      <v-col cols="12" sm="12" md="4">
                        <v-text-field
                          v-model="productStore.editedProduct.name"
                          :readonly="loading"
                          :rules="[(v: any) => !!v || 'Field is required']"
                          class="mb-2"
                          clearable
                          label="Product Name"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="12" md="4">
                        <v-text-field
                          v-model="productStore.editedProduct.price"
                          :readonly="loading"
                          :rules="[(v: any) => !!v || 'Field is required']"
                          class="mb-2"
                          clearable
                          label="Price"
                          suffix="฿"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="12" md="4">
                        <v-select
                          v-model="productStore.editedProduct.category.name"
                          :readonly="loading"
                          :rules="[(v) => !!v || 'Field is required']"
                          :items="['Drink', 'Food', 'Dessert']"
                          label="Category"
                        ></v-select>
                      </v-col>
                      <v-col cols="12" sm="12" md="4">
                        <v-text-field
                          v-model="productStore.editedProduct.qty"
                          :readonly="loading"
                          class="mb-2"
                          clearable
                          label="Quantity"
                        ></v-text-field>
                      </v-col>
                    </v-row>
                  </v-container>
                </v-form>
                <small>*indicates required field</small>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="orange" variant="text" @click="closeDialog()"> Close </v-btn>
                <v-btn color="orange" variant="text" @click="save()"> Save </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>

          <!-- Delete Dialog -->
          <v-dialog v-model="dialogDelete" max-width="500px">
            <v-card>
              <v-card-title class="text-h5"
                >Are you sure you want to delete this item?</v-card-title
              >
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue-darken-1" variant="text" @click="closeDelete">Cancel</v-btn>
                <v-btn color="blue-darken-1" variant="text" @click="deleteItemConfirm">OK</v-btn>
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>

      <template v-slot:[`item.actions`]="{ item }">
        <v-icon size="small" class="me-2" @click="editItem(item)"> mdi-pencil </v-icon>
        <v-icon size="small" @click="deleteItem(item)"> mdi-delete </v-icon>
      </template>

      <template v-slot:no-data>
        <v-btn color="primary" @click="productStore.getProducts"> Reset </v-btn>
      </template>
    </v-data-table>
  </div>
  <!-- <ProductDialog></ProductDialog> -->
</template>
