<template>
  <v-dialog v-model="selectBranchStore.dialogOpen" max-width="600" persistent>
    <template v-slot:activator>
      <v-btn icon @click="selectBranchStore.dialogOpen = true">
        <v-icon>mdi-dots-vertical</v-icon>
      </v-btn>
    </template>

    <v-card>
      <v-card-title>Branch Options</v-card-title>
      <v-divider></v-divider>
      <v-card-text>
        <v-list>
          <v-list-item
            v-for="branch in selectBranchStore.branches"
            :key="branch.id"
            @click="selectBranchStore.selectBranch(branch)"
          >
            <v-list-item-title>{{ branch.name }}</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script setup lang="ts">
import { useSelectBranchStore } from '@/stores/selectBranch'
import type { Branch } from '@/types/Branch'
import { ref } from 'vue'

const selectBranchStore = useSelectBranchStore()
</script>
