<script setup lang="ts">
import router from '@/router'
import { useAuthStore } from '@/stores/auth'
import { useLocateStore } from '@/stores/locate'
import { inject, ref, type Ref } from 'vue'
// import { useAuthStore } from '@/stores/auth'
// import type { User } from '@/types/User'

// const authStore = useAuthStore()
const drawer = inject<Ref<boolean>>('drawer')
const rail = inject<Ref<boolean>>('rail')

const locateStore = useLocateStore()
const authStore = useAuthStore()
const emit = defineEmits<{
  located: [string]
}>()

function clickLocate(title: string) {
  emit('located', title)
}
</script>

<template>
  <v-navigation-drawer
    v-model="drawer"
    :rail="rail"
    permanent
    @click="rail = false"
    style="background-color: whitesmoke"
  >
    <v-list-item
      prepend-avatar="https://hobbymaniaz.com.au/cdn/shop/products/O1CN01zM7mRH1v7IcxM1vso__2208460416125.jpg?v=1659096557"
      :title="authStore.currentLogin.name"
    >
      <template v-slot:append>
        <v-btn
          variant="text"
          value="oneEmployeeManagement"
          :to="{ name: 'oneEmployeeManagement' }"
          icon="mdi-account"
          small
        ></v-btn>
      </template>
    </v-list-item>

    <v-divider></v-divider>

    <v-list density="compact" nav>
      <v-list-item
        prepend-icon="mdi-menu"
        title="Main Menu"
        value="mainmenu"
        :to="{ name: 'mainmenu' }"
      ></v-list-item>
      <v-list-item
        prepend-icon="mdi-point-of-sale"
        title="Point Of Sale"
        value="pos"
        :to="{ name: 'pos' }"
      ></v-list-item>

      <v-list-item
        prepend-icon="mdi-food"
        title="Product Management"
        value="product"
        :to="{ name: 'product' }"
      ></v-list-item>

      <v-list-item
        prepend-icon="mdi-account-tie"
        title="Employee Management"
        value="employee"
        :to="{ name: 'employee' }"
      ></v-list-item>

      <v-list-item
        prepend-icon="mdi-account-group"
        title="Customer"
        value="customer"
        :to="{ name: 'customer' }"
      ></v-list-item>

      <v-list-item
        prepend-icon="mdi-package-variant"
        title="Check Stock"
        value="checkstock"
        :to="{ path: 'checkstock' }"
      ></v-list-item>

      <v-list-item
        prepend-icon="mdi-truck-delivery"
        title="Import Material"
        value="importmaterial"
        :to="{ path: 'importmaterial' }"
      ></v-list-item>

      <v-list-item
        prepend-icon="mdi-package"
        title="Material"
        value="material"
        :to="{ name: 'material' }"
      ></v-list-item>

      <v-list-item
        prepend-icon="mdi-cash"
        title="Salary Management"
        value="salary"
        :to="{ path: 'salary' }"
      ></v-list-item>

      <v-list-item
        prepend-icon="mdi-invoice"
        title="Utility Invoice"
        value="invoice"
        :to="{ path: 'invoice' }"
      ></v-list-item>

      <v-list-item
        prepend-icon="mdi-history"
        title="Receipt History"
        value="receipthistory"
        :to="{ path: 'receipthistory' }"
      ></v-list-item>

      <v-list-item
        prepend-icon="mdi-sale"
        title="Promotion Management"
        value="promotion"
        :to="{ path: 'promotion' }"
      ></v-list-item>

      <v-list-item
        prepend-icon="mdi-store"
        title="Branch"
        value="branch"
        :to="{ path: 'branch' }"
      ></v-list-item>

      <v-list-item
        prepend-icon="mdi-clock"
        title="Check In / Check Out"
        value="checkinout"
        :to="{ name: 'checkinout' }"
      ></v-list-item>

      <v-list-item
        prepend-icon="mdi-login"
        title="Login"
        value="login"
        :to="{ name: 'login' }"
        style="position: fixed; bottom: 0"
        @click="clickLocate('Login')"
      >
      </v-list-item>
    </v-list>
  </v-navigation-drawer>
</template>

<style></style>
