<script setup lang="ts">
import { useSelectBranchStore } from '@/stores/selectBranch'
import { computed, onMounted, reactive, watch, watchEffect } from 'vue'
import { inject, onUpdated, ref, type Ref } from 'vue'
import BranchSelectDialog from './BranchSelectDialog.vue'
const rail = inject<Ref<boolean>>('rail')

const prop = defineProps<{
  located: string
}>()
const locateTitle = ref('')

onUpdated(() => {
  locateTitle.value = prop.located
})

onMounted(() => {
  if (!prop.located) {
    // ถ้า prop.located ไม่มีค่า (undefined, null, หรือ '') ให้ตั้งค่าเป็น 'Point of Sale'
    locateTitle.value = 'Point Of Sale'
  }
  setInterval(() => {
    state.formDate = new Date()
  }, 1000)
})
const state = reactive({
  formDate: new Date(),
  currentTime: formatTime(new Date())
})
function formatTime(date: Date): string {
  const day = date.getDate().toString().padStart(2, '0')
  const month = (date.getMonth() + 1).toString().padStart(2, '0')
  const year = date.getFullYear().toString()
  const hours = date.getHours().toString().padStart(2, '0')
  const minutes = date.getMinutes().toString().padStart(2, '0')
  const seconds = date.getSeconds().toString().padStart(2, '0')
  return `${day}/${month}/${year} ${hours}:${minutes}:${seconds} น.`
}
watchEffect(() => {
  state.currentTime = formatTime(state.formDate)
})

watch(
  () => state.formDate,
  (newDate) => {
    state.currentTime = formatTime(newDate)
  },
  { immediate: true }
)

const selectBranchStore = useSelectBranchStore()
</script>

<template>
  <v-app-bar color="white" image="">
    <template v-slot:image>
      <v-img gradient="to top right, rgba(255, 178, 63), rgba(255, 197, 87,.8)"></v-img>
    </template>

    <template v-slot:prepend>
      <v-app-bar-nav-icon @click.stop="rail = !rail"></v-app-bar-nav-icon>
    </template>
    <v-app-bar-title>
      <v-row text-align="center" justify="start">
        <v-col cols="auto">
          <v-icon>mdi-coffee</v-icon>
        </v-col>
        <v-col cols="auto"> DSI Coffee </v-col>
        <v-col cols="auto">
          <div id="arrow">></div>
        </v-col>
        <v-col cols="auto">
          <div id="title">{{ locateTitle }}</div>
        </v-col>
      </v-row>
    </v-app-bar-title>

    <v-spacer></v-spacer>

    <div>{{ state.currentTime }}</div>

    <v-btn icon @Click="selectBranchStore.dialogOpen = true">
      <v-icon>mdi-dots-vertical</v-icon>
    </v-btn>
    <div>{{ selectBranchStore.selectedBranch }}</div>
  </v-app-bar>
  <BranchSelectDialog></BranchSelectDialog>
</template>
