<script lang="ts" setup>
import type { Customer } from '@/types/Customer'
import { useCustomerStore } from '@/stores/customer'
import { nextTick, onMounted, ref } from 'vue'
import type { VForm } from 'vuetify/components'
// id: number
// name: string
// phone: string
// birthDate: string
// point: number

const initilCustomer: Customer = {
  customerId: -1,
  name: '',
  phone: '',
  birthDate: '',
  point: 0
}
const editedCustomer = ref<Customer>(JSON.parse(JSON.stringify(initilCustomer)))
const customerStore = useCustomerStore()

let editedIndex = -1
let lastId = customerStore.customers.length
function onSubmit() {}
function closeDialog() {
  customerStore.customerDialog = false
  nextTick(() => {
    editedCustomer.value = Object.assign({}, initilCustomer)
    editedIndex = -1
  })
}

async function save() {
  const newCustomer = ref<Customer>({
    customerId: 0,
    name: '',
    phone: '',
    birthDate: '',
    point: 0
  })

  newCustomer.value.customerId = customerStore.customers.length + 1
  newCustomer.value.name = editedCustomer.value.name
  newCustomer.value.phone = editedCustomer.value.phone
  newCustomer.value.birthDate = editedCustomer.value.birthDate
  newCustomer.value.point = editedCustomer.value.point
  closeDialog()
}
// function initialize(){
//     Customer.value = customerStore.members
// }
// onMounted(() => {
//     initialize()

// })
</script>
<template>
  <v-dialog width="1024" v-model="customerStore.customerDialog" persistent>
    <v-card>
      <v-card-title style="background-color: rgb(255, 188, 63)">
        <span class="text-h5">Customer</span>
      </v-card-title>
      <v-card-text>
        <v-form ref="refForm" @submit.prevent="onSubmit">
          <v-container>
            <v-row>
              <v-col cols="12" sm="12" md="6">
                <v-text-field
                  v-model="editedCustomer.name"
                  :rules="[(v) => !!v || 'Field is required']"
                  class="mb-2"
                  clearable
                  label="Name"
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="12" md="6">
                <v-text-field
                  v-model="editedCustomer.phone"
                  :rules="[(v) => !!v || 'Field is required']"
                  class="mb-2"
                  clearable
                  label="Phone"
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="12" md="6">
                <v-text-field
                  v-model="editedCustomer.birthDate"
                  :rules="[(v) => !!v || 'Field is required']"
                  class="mb-2"
                  clearable
                  label="BirthDate"
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="12" md="6">
                <v-text-field
                  v-model="editedCustomer.point"
                  :rules="[(v) => !!v || 'Field is required']"
                  class="mb-2"
                  clearable
                  label="Point"
                ></v-text-field>
              </v-col>
            </v-row>
          </v-container>
        </v-form>
        <small>*Indicates required field</small>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="orange" variant="text" @click="closeDialog()"> Close </v-btn>
        <v-btn color="orange" variant="text" @click="save()"> Save </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
