<script lang="ts" setup>
import type { Customer } from '@/types/Customer';
import { useCustomerStore } from '@/stores/customer';
import { nextTick, onMounted, ref } from 'vue';
import type { VForm } from 'vuetify/components';
    // id: number
    // name: string
    // phone: string
    // birthDate: string
    // point: number

const headers = [
    {
        title: 'Customer Id',
        key: 'customerId',
        value: 'customerId'
    },
    {
        title: 'Name',
        key: 'name',
        value: 'name'
    },
    {
        title: 'Phone',
        key: 'phone',
        value: 'phone'
    },
    {
        title: 'BirthDate',
        key: 'birthDate',
        value: 'birthDate'
    },
    {
        title: 'Point',
        key: 'point',
        value: 'point'
    },
    { title: 'Actions', key: 'actions', sortable: false }
]
const form = ref(false)
const refForm = ref<VForm | null>(null)
const dialog = ref(false)
const loading = ref(false)
const dialogDelete = ref(false)

const initilCustomer: Customer = {
    customerId: -1,
    name: '',
    phone: '',
    birthDate: '',
    point: 0
    
}
const editedCustomer = ref<Customer>(JSON.parse(JSON.stringify(initilCustomer)))

const customerStore = useCustomerStore()
const customer = ref(customerStore.customers)
let editedIndex = -1

let lastId = customerStore.customers.length+1
function onSubmit() { }

function closeDelete() {
    dialogDelete.value = false
    nextTick(() => {
        editedCustomer.value = Object.assign({}, initilCustomer)
    })
}
function deleteItemConfirm() {
    // Delete item from list
    customer.value.splice(editedIndex, 1)
    closeDelete()
}

function editItem(item: Customer) {
    editedIndex = customer.value.indexOf(item)
    editedCustomer.value = Object.assign({}, item)
    dialog.value = true
}

function deleteItem(item: Customer) {
    editedIndex = customer.value.indexOf(item)
    editedCustomer.value = Object.assign({}, item)
    dialogDelete.value = true
}
function closeDialog() {
    dialog.value = false
    nextTick(() => {
        editedCustomer.value = Object.assign({}, initilCustomer)
        editedIndex = -1
    })
}

async function save() {
    console.log(customerStore.customers.length)
    const { valid } = await refForm.value!.validate()
    if (!valid) return
    if (editedIndex > -1) {
        Object.assign(customer.value[editedIndex], editedCustomer.value)
    } else {
        editedCustomer.value.customerId = lastId++
        customer.value.push(editedCustomer.value)
    }
    closeDialog()
}

function initialize() {
    customer.value = customerStore.customers
}

function addCustomer() {
  customerStore.customerDialog = true
}

onMounted(() => {
    initialize();
});


</script>

<template>
    <div>
        <v-data-table :headers="headers" :items="customer">
            <template v-slot:top>
                <v-toolbar flat style="background-color: whitesmoke">
                    <v-toolbar-title>Customer</v-toolbar-title>
                    <v-divider class="mx-4" inset vertical></v-divider>
                    <v-spacer></v-spacer>
                    
                    <v-dialog v-model="dialog" persistent width="1024">
                        <template v-slot:activator="{ props }">
                            <v-btn color="white" style="background-color: rgb(255, 182, 55);" v-bind="props">
                                <v-icon left>mdi-account-plus</v-icon> New Customer
                            </v-btn>
                        </template>
                        <v-card>
                            <v-card-title style="background-color: rgb(255, 188, 63)">
                                <span class="text-h5">Customer</span>
                            </v-card-title>
                            <v-card-text>
                                <v-form ref="refForm" v-model="form" @submit.prevent="onSubmit">
                                    <v-container>
                                        <v-row>
                                            <v-col cols="12" sm="12" md="6">
                                                <v-text-field v-model="editedCustomer.name" :readonly="loading"
                                                    :rules="[(v) => !!v || 'Field is required']" class="mb-2" clearable
                                                    label="Name"></v-text-field>
                                            </v-col>
                                            <v-col cols="12" sm="12" md="6">
                                                <v-text-field v-model="editedCustomer.phone" :readonly="loading"
                                                    :rules="[(v) => !!v || 'Field is required']" class="mb-2" clearable
                                                    label="Phone"></v-text-field>
                                            </v-col>
                                            <v-col cols="12" sm="12" md="6">
                                                <v-text-field v-model="editedCustomer.birthDate" :readonly="loading"
                                                    :rules="[(v) => !!v || 'Field is required']" class="mb-2" clearable
                                                    label="BirthDate"></v-text-field>
                                            </v-col>
                                            <v-col cols="12" sm="12" md="6">
                                                <v-text-field v-model="editedCustomer.point" :readonly="loading"
                                                    :rules="[(v) => !!v || 'Field is required']" class="mb-2" clearable
                                                    label="Point"></v-text-field>
                                            </v-col>
                                        </v-row>
                                    </v-container>
                                </v-form>
                                <small>*Indicates required field</small>
                            </v-card-text>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="orange" variant="text" @click="closeDialog()">
                                    Close
                                </v-btn>
                                <v-btn color="orange" variant="text" @click="save()">
                                    Save
                                </v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>



                    <!-- Delete Dialog -->
                    <v-dialog v-model="dialogDelete" max-width="500px">
                        <v-card>
                            <v-card-title class="text-h5">Are you sure you want to delete this item?</v-card-title>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="orange" variant="text" @click="closeDelete">Cancel</v-btn>
                                <v-btn color="orange" variant="text" @click="deleteItemConfirm">OK</v-btn>
                                <v-spacer></v-spacer>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                </v-toolbar>
            </template>
            <template v-slot:[`item.actions`]="{ item }">
                <v-icon size="small" class="me-2" @click="editItem(item)">
                    mdi-pencil
                </v-icon>
                <v-icon size="small" @click="deleteItem(item)">
                    mdi-delete
                </v-icon>

            </template>
            <template v-slot:no-data>
                <v-btn color="primary" @click="initialize">
                    Reset
                </v-btn>
            </template>
        </v-data-table>

    </div>
</template>
