<script setup lang="ts">
import { ref, provide, computed } from 'vue'
import { RouterLink, RouterView } from 'vue-router'
import MainAppBar from './components/MainAppBar.vue'
import MainMenu from './components/MainMenu.vue'
import MainFooter from './components/MainFooter.vue'
import { watch } from 'vue'
import { useLocateStore } from './stores/locate'
import LoadingDialog from './components/LoadingDialog.vue';
const rail = ref(true)
const drawer = ref(true)

provide('rail', rail)
provide('drawer', drawer)

const locateStore = useLocateStore()
</script>

<template>
  <v-layout class="rounded rounded-md;">
    <!-- style="background-color: gainsboro" -->
    <MainAppBar :located="locateStore.appBarLocate"></MainAppBar>
    <MainMenu></MainMenu>

    <v-main class="align-center justify-center" style="min-height: 1000px">
      <div class="pa-6">
        <RouterView></RouterView>
      </div>
    </v-main>

    <!-- <v-container>
            <MainFooter :style="footerStyles" id="main-footer"></MainFooter>
          </v-container> -->
  </v-layout>
  <LoadingDialog></LoadingDialog>
</template>

<style scoped>
.v-layout {
  background-image: url('./assets/shop.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
</style>
./stores/locate
