<script lang="ts" setup>
import { useAuthStore } from '@/stores/auth'
import { useCheckInOutStore } from '@/stores/checkInOut'
import type { Employee } from '@/types/Employee'
import type { CheckInOut } from '@/types/CheckInOut'
import { onMounted, onUnmounted, reactive, watch, watchEffect } from 'vue'
import { computed, ref } from 'vue'
import { useEmployeeStore } from '@/stores/employee'

const headers = [
  {
    title: 'No.'
  },
  {
    title: 'User'
  },
  {
    title: 'Check In'
  },
  {
    title: 'Check Out'
  },
  {
    title: 'Total'
  },
  {
    title: 'Status'
  }
]

const authStore = useAuthStore()
const checkInOutStore = useCheckInOutStore()

const checkIn = async (auth: Employee) => {
  await checkInOutStore.checkIn(auth)
  checkInS.value = true
  localStorage.setItem('checkInS', 'true') // เก็บค่า checkInS ลงใน localStorage
}

const checkOut = (auth: Employee) => {
  checkInOutStore.checkOut(auth)
  checkInS.value = false
  localStorage.setItem('checkInS', 'false') // เก็บค่า checkInS ลงใน localStorage
}

const checkInS = ref(localStorage.getItem('checkInS') === 'true') // ดึงค่า checkInS จาก localStorage เพื่อกำหนดค่าเริ่มต้น
onMounted(() => {
  checkInOutStore.getCheckInOuts()
})

function convertToTimeString(timeWork: number): string {
  const hours = Math.floor(timeWork)
  const minutes = Math.floor((timeWork % 1) * 60)
  return `${hours} ชั่วโมง ${minutes} นาที `
}

const employeeStore = useEmployeeStore()
const empName = (empId: number) => {
  const employeeIndex = employeeStore.employees.findIndex((item) => item.employeeId === empId)
  const emp = employeeStore.employees[employeeIndex]
  return emp ? emp.name : '' // Add a null check in case emp is not found
}

const statusMessages: { [key: number]: string } = {
  0: 'ไม่ทราบสถานะ',
  1: 'มา',
  2: 'มาสาย',
  3: 'กลับก่อน',
  4: 'ลา',
  5: 'มาสาย-กลับก่อน',
  6: 'ไม่เต็มเวลา'
}

const getStatusMessage = (statusCode: number): string => {
  return statusMessages[statusCode] || 'ไม่ทราบสถานะ' // ใส่ข้อความเริ่มต้นเมื่อไม่มีสถานะที่ระบุ
}

const sortedCheckInOut = computed(() => {
  // ดึงข้อมูล checkinout จาก store
  const checkInOut = checkInOutStore.checkinout

  // เรียงลำดับข้อมูลใหม่สุดอยู่บนสุด
  return [...checkInOut].reverse()
})
</script>
<template>
  <div>
    <v-data-table :headers="headers" :items="sortedCheckInOut" show-expand>
      <template v-slot:top>
        <v-toolbar flat style="background-color: whitesmoke">
          <v-toolbar-title>CheckIn / CheckOut</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-spacer></v-spacer>

          <v-btn
            color="black"
            style="background-color: rgb(55, 255, 72); width: 150px"
            :disabled="checkInS"
            @click="checkIn(authStore.currentLogin)"
          >
            <v-icon left>mdi-clock-plus</v-icon>CheckIn</v-btn
          >
          <v-btn
            color="black"
            style="background-color: rgb(255, 103, 103); width: 150px"
            @click="checkOut(authStore.currentLogin)"
          >
            <v-icon left>mdi-clock-minus</v-icon>CheckOut</v-btn
          >
        </v-toolbar>
      </template>

      <template v-slot:item="{ item, index }">
        <tr>
          <td>{{ index + 1 }}</td>
          <td>{{ item.employee?.name }}</td>
          <td>{{ item.checkIn }}</td>
          <td>{{ item.checkOut }}</td>
          <!-- <td>{{ item.timeWork }}</td> -->
          <td>{{ convertToTimeString(item.timeWork || 0) }}</td>
          <td>{{ getStatusMessage(item.status || 0) }}</td>
        </tr>
      </template>

      <template v-slot:no-data>
        <v-btn color="primary"> Reset </v-btn>
      </template>
    </v-data-table>
  </div>
</template>
